@mixin circle($pie-size) {
    content: "";
    position: absolute;
    border-radius: 50%;
    top: calc(50% - #{$pie-size / 2});
    left: calc(50% - #{$pie-size / 2});
    width: $pie-size;
    height: $pie-size;
}