<div id="gm-edit-modal">
    <div id="gm-mask"></div>
    <div id="gme-inner-wrap">
        <div id="m-kgi-wrap">
            <div class="top-text">
                <p class="index-name">年間KGI</p>
                <textarea name="gme-index-detail" id="" class="gme-index-detail" cols="30" rows="10">ティール組織の浸透により、労働問題の解決に繋げる</textarea>
            </div>
            <textarea name="" id="" cols="30" rows="10" class="gme-index-body"></textarea>
            <div class="index-chart">
                <div class="progress-wrap">
                    <div class="progress-pie-chart" data-percent="60">
                        <div class="ppc-progress">
                            <div class="ppc-progress-fill"></div>
                        </div>
                        <div class="ppc-percent">
                            <div class="percent-inner-wrap">
                                <span class="percent-num">%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="progress-wrap">
                <input type="range" id="min-voting-rate-03">
                <label class="outp-label"><p><output class="outp"><input type="number" name="gme-number" id="" min="0" max="100"></output>%</label>
            </div>
        </div>
        <div id="m-ksf-wrap">
            <div class="top-text">
                <p class="index-name">KSF</p>
                <textarea name="gme-index-detail" id="" class="gme-index-detail" cols="30" rows="10">KGI達成に必要なプロセス</textarea>
            </div>
            <div class="under-top-content">
                <div class="ksf-inner-wrap">
                    <div class="top-text">
                        <p>K-A</p>
                    </div>
                    <textarea name="" id="" cols="30" rows="10" class="gme-ksf-body"></textarea>
                </div>
                <div class="ksf-inner-wrap">
                    <div class="top-text">
                        <p>K-B</p>
                    </div>
                    <textarea name="" id="" cols="30" rows="10" class="gme-ksf-body"></textarea>
                </div>
                <div class="ksf-inner-wrap">
                    <div class="top-text">
                        <p>K-C</p>
                    </div>
                    <textarea name="" id="" cols="30" rows="10" class="gme-ksf-body"></textarea>
                </div>
            </div>
            <div id="bottom-content">
                <div id="gme-save-btn">
                    <p>保存する</p>
                </div>
            </div>
        </div>
        <div id="m-kpi-wrap">
            <div class="top-text">
                <p class="index-name">KPI</p>
                <textarea name="gme-index-detail" id="" class="gme-index-detail" cols="30" rows="10">KSF達成のための目標プロセス</textarea>
            </div>
            <div class="under-top-content">
                <div class="kpi-inner-wrap">
                    <textarea name="" id="" cols="30" rows="10" class="gme-kpi-title">円滑にすすめる</textarea>
                    <textarea name="" id="" cols="30" rows="10" class="gme-kpi-body">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</textarea>
                    <div class="progress-wrap">
                        <input type="range" id="min-voting-rate-04">
                        <label class="outp-label"><p><output class="outp"><input type="number" name="gme-number" id="" min="0" max="100"></output>%</p></label>
                    </div>
                </div>
                <div class="kpi-inner-wrap">
                    <textarea name="" id="" cols="30" rows="10" class="gme-kpi-title">20日で達成する</textarea>
                    <textarea name="" id="" cols="30" rows="10" class="gme-kpi-body">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</textarea>
                    <div class="progress-wrap">
                        <input type="range" id="min-voting-rate-05">
                        <label class="outp-label"><p><output class="outp"><input type="number" name="gme-number" id="" min="0" max="100"></output>%</p></label>
                    </div>
                </div>
                <div class="kpi-inner-wrap">
                    <textarea name="" id="" cols="30" rows="10" class="gme-kpi-title">10社に導入</textarea>
                    <textarea name="" id="" cols="30" rows="10" class="gme-kpi-body">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</textarea>
                    <div class="progress-wrap">
                        <input type="range" id="min-voting-rate-06">
                        <label class="outp-label"><p><output class="outp"><input type="number" name="gme-number" id="" min="0" max="100"></output>%</p></label>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div id="bottom-content">
            <div id="gmm-edit-btn">
                <p>編集する</p>
            </div>
        </div> -->
    </div>
</div>