<div id="gm-inner-content">
    <div class="top-nav-border-wrap">
        <div class="top-nav-border"></div>
    </div>
    <div class="right-content">
        <div class="top-text-box">
            <p>ゴールマネージャー</p>
        </div>
        <div class="inner-wrap">
            <div class="kgi-wrap">
                <div class="top-text">
                    <p class="index-name">年間KGI</p>
                </div>
                <div class="kgi-large-wrap ykgi-regular slider">
                    <div class="kgi-inner-wrap yearly-kgi">
                        <a href="kgi-detail.html">
                            <div class="top-text">
                                <p class="index-detail">【サンプル】ティール組織の浸透により、労働問題の解決に繋げる</p>
                            </div>
                            <div class="index-chart">
                                <div class="progress-wrap">
                                    <div class="progress-pie-chart" data-percent="60">
                                        <div class="ppc-progress">
                                            <div class="ppc-progress-fill"></div>
                                        </div>
                                        <div class="ppc-percent">
                                            <div class="percent-inner-wrap">
                                                <span class="percent-num">%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gm-tags-wrap">
                                <div class="tag-item">
                                    <a href="#">
                                        <p class="tag-text">組織全体</p>
                                    </a>
                                </div>
                            </div>
                        </a>
                        <div class="kgi-hover-wrap">
                            <p class="kgi-edit-btn">編集する</p>
                            <p class="kgi-delete-btn">削除する</p>
                        </div>
                    </div>
                    <!-- <div class="kgi-inner-wrap yearly-kgi">
                        <a href="kgi-detail.html">
                            <div class="top-text">
                                <p class="index-detail">ティール組織の浸透により、労働問題の解決に繋げる</p>
                            </div>
                            <div class="index-chart">
                                <div class="progress-wrap">
                                    <div class="progress-pie-chart" data-percent="60">
                                        <div class="ppc-progress">
                                            <div class="ppc-progress-fill"></div>
                                        </div>
                                        <div class="ppc-percent">
                                            <div class="percent-inner-wrap">
                                                <span class="percent-num">%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gm-tags-wrap">
                                <div class="tag-item">
                                    <a href="#">
                                        <p class="tag-text">組織全体</p>
                                    </a>
                                </div>
                            </div>
                        </a>
                        <div class="kgi-hover-wrap">
                            <p class="kgi-edit-btn">編集する</p>
                            <p class="kgi-delete-btn">削除する</p>
                        </div>
                    </div> -->
                    <!-- <div class="kgi-inner-wrap yearly-kgi">
                        <a href="kgi-detail.html">
                            <div class="top-text">
                                <p class="index-detail">ティール組織の浸透により、労働問題の解決に繋げる</p>
                            </div>
                            <div class="index-chart">
                                <div class="progress-wrap">
                                    <div class="progress-pie-chart" data-percent="60">
                                        <div class="ppc-progress">
                                            <div class="ppc-progress-fill"></div>
                                        </div>
                                        <div class="ppc-percent">
                                            <div class="percent-inner-wrap">
                                                <span class="percent-num">%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gm-tags-wrap">
                                <div class="tag-item">
                                    <a href="#">
                                        <p class="tag-text">組織全体</p>
                                    </a>
                                </div>
                            </div>
                        </a>
                        <div class="kgi-hover-wrap">
                            <p class="kgi-edit-btn">編集する</p>
                            <p class="kgi-delete-btn">削除する</p>
                        </div>
                    </div>
                    <div class="kgi-inner-wrap yearly-kgi">
                        <a href="kgi-detail.html">
                            <div class="top-text">
                                <p class="index-detail">ティール組織の浸透により、労働問題の解決に繋げる</p>
                            </div>
                            <div class="index-chart">
                                <div class="progress-wrap">
                                    <div class="progress-pie-chart" data-percent="60">
                                        <div class="ppc-progress">
                                            <div class="ppc-progress-fill"></div>
                                        </div>
                                        <div class="ppc-percent">
                                            <div class="percent-inner-wrap">
                                                <span class="percent-num">%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gm-tags-wrap">
                                <div class="tag-item">
                                    <a href="#">
                                        <p class="tag-text">組織全体</p>
                                    </a>
                                </div>
                            </div>
                        </a>
                        <div class="kgi-hover-wrap">
                            <p class="kgi-edit-btn">編集する</p>
                            <p class="kgi-delete-btn">削除する</p>
                        </div>
                    </div> -->
                    <div class="kgi-addition-wrap yearly-kgi">
                        <div class="img-wrap">
                            <img src="img/plus.png" alt="KGIの追加">
                        </div>
                    </div>
                </div>
            </div>
            <div class="kgi-wrap2">
                <div class="top-text">
                    <p class="index-name">四半期KGI</p>
                </div>
                <div class="kgi-large-wrap qkgi-regular slider">
                    <div class="qkgi-inner-wrap quarterly-kgi">
                        <a href="kgi-detail.html">
                            <div class="top-text">
                                <p class="q-index-detail">テキストテキストテキストテキストテキストテキストテキストテキスト</p>
                            </div>
                            <div class="index-chart">
                                <div class="progress-wrap">
                                    <div class="progress-pie-chart" data-percent="60">
                                        <div class="ppc-progress">
                                            <div class="ppc-progress-fill"></div>
                                        </div>
                                        <div class="ppc-percent">
                                            <div class="percent-inner-wrap">
                                                <span class="percent-num">%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gm-tags-wrap">
                                <div class="tag-item">
                                    <!-- <a href="#"> -->
                                        <p class="tag-text">組織全体</p>
                                    <!-- </a> -->
                                </div>
                            </div>
                        </a>
                        <div class="kgi-hover-wrap">
                            <p class="kgi-edit-btn">編集する</p>
                            <p class="kgi-delete-btn">削除する</p>
                        </div>
                    </div>
                    <div class="qkgi-inner-wrap quarterly-kgi">
                        <a href="kgi-detail.html">
                            <div class="top-text">
                                <p class="q-index-detail">テキストテキストテキストテキストテキストテキストテキストテキスト</p>
                            </div>
                            <div class="index-chart">
                                <div class="progress-wrap">
                                    <div class="progress-pie-chart" data-percent="75">
                                        <div class="ppc-progress">
                                            <div class="ppc-progress-fill"></div>
                                        </div>
                                        <div class="ppc-percent">
                                            <div class="percent-inner-wrap">
                                                <span class="percent-num">%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gm-tags-wrap">
                                <div class="tag-item">
                                    <!-- <a href="#"> -->
                                        <p class="tag-text">マーケティング</p>
                                    <!-- </a> -->
                                </div>
                            </div>
                        </a>
                        <div class="kgi-hover-wrap">
                            <p class="kgi-edit-btn">編集する</p>
                            <p class="kgi-delete-btn">削除する</p>
                        </div>
                    </div>
                    <!-- <div class="qkgi-inner-wrap quarterly-kgi">
                        <a href="kgi-detail.html">
                            <div class="top-text">
                                <p class="q-index-detail">テキストテキストテキストテキストテキストテキストテキストテキスト</p>
                            </div>
                            <div class="index-chart">
                                <div class="progress-wrap">
                                    <div class="progress-pie-chart" data-percent="45">
                                        <div class="ppc-progress">
                                            <div class="ppc-progress-fill"></div>
                                        </div>
                                        <div class="ppc-percent">
                                            <div class="percent-inner-wrap">
                                                <span class="percent-num">%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gm-tags-wrap">
                                <div class="tag-item">
                                    <a href="#">
                                        <p class="tag-text">マーケティング</p>
                                    </a>
                                </div>
                            </div>
                        </a>
                        <div class="kgi-hover-wrap">
                            <p class="kgi-edit-btn">編集する</p>
                            <p class="kgi-delete-btn">削除する</p>
                        </div>
                    </div> -->
                    <!-- <div class="qkgi-inner-wrap quarterly-kgi">
                        <a href="kgi-detail.html">
                            <div class="top-text">
                                <p class="q-index-detail">テキストテキストテキストテキストテキストテキストテキストテキスト</p>
                            </div>
                            <div class="index-chart">
                                <div class="progress-wrap">
                                    <div class="progress-pie-chart" data-percent="45">
                                        <div class="ppc-progress">
                                            <div class="ppc-progress-fill"></div>
                                        </div>
                                        <div class="ppc-percent">
                                            <div class="percent-inner-wrap">
                                                <span class="percent-num">%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gm-tags-wrap">
                                <div class="tag-item">
                                    <a href="#">
                                        <p class="tag-text">マーケティング</p>
                                    </a>
                                </div>
                            </div>
                        </a>
                        <div class="kgi-hover-wrap">
                            <p class="kgi-edit-btn">編集する</p>
                            <p class="kgi-delete-btn">削除する</p>
                        </div>
                    </div> -->
                    <!-- <div class="qkgi-inner-wrap quarterly-kgi">
                        <a href="kgi-detail.html">
                            <div class="top-text">
                                <p class="q-index-detail">テキストテキストテキストテキストテキストテキストテキストテキスト</p>
                            </div>
                            <div class="index-chart">
                                <div class="progress-wrap">
                                    <div class="progress-pie-chart" data-percent="60">
                                        <div class="ppc-progress">
                                            <div class="ppc-progress-fill"></div>
                                        </div>
                                        <div class="ppc-percent">
                                            <div class="percent-inner-wrap">
                                                <span class="percent-num">%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gm-tags-wrap">
                                <div class="tag-item">
                                    <a href="#">
                                        <p class="tag-text">マーケティング</p>
                                    </a>
                                </div>
                            </div>
                        </a>
                        <div class="kgi-hover-wrap">
                            <p class="kgi-edit-btn">編集する</p>
                            <p class="kgi-delete-btn">削除する</p>
                        </div>
                    </div> -->
                    <!-- <div class="qkgi-inner-wrap quarterly-kgi">
                        <a href="kgi-detail.html">
                            <div class="top-text">
                                <p class="q-index-detail">テキストテキストテキストテキストテキストテキストテキストテキスト</p>
                            </div>
                            <div class="index-chart">
                                <div class="progress-wrap">
                                    <div class="progress-pie-chart" data-percent="75">
                                        <div class="ppc-progress">
                                            <div class="ppc-progress-fill"></div>
                                        </div>
                                        <div class="ppc-percent">
                                            <div class="percent-inner-wrap">
                                                <span class="percent-num">%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gm-tags-wrap">
                                <div class="tag-item">
                                    <a href="#">
                                        <p class="tag-text">マーケティング</p>
                                    </a>
                                </div>
                            </div>
                        </a>
                        <div class="kgi-hover-wrap">
                            <p class="kgi-edit-btn">編集する</p>
                            <p class="kgi-delete-btn">削除する</p>
                        </div>
                    </div>
                    <div class="qkgi-inner-wrap quarterly-kgi">
                        <a href="kgi-detail.html">
                            <div class="top-text">
                                <p class="q-index-detail">テキストテキストテキストテキストテキストテキストテキストテキスト</p>
                            </div>
                            <div class="index-chart">
                                <div class="progress-wrap">
                                    <div class="progress-pie-chart" data-percent="45">
                                        <div class="ppc-progress">
                                            <div class="ppc-progress-fill"></div>
                                        </div>
                                        <div class="ppc-percent">
                                            <div class="percent-inner-wrap">
                                                <span class="percent-num">%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gm-tags-wrap">
                                <div class="tag-item">
                                    <a href="#">
                                        <p class="tag-text">マーケティング</p>
                                    </a>
                                </div>
                            </div>
                        </a>
                        <div class="kgi-hover-wrap">
                            <p class="kgi-edit-btn">編集する</p>
                            <p class="kgi-delete-btn">削除する</p>
                        </div>
                    </div>
                    <div class="qkgi-inner-wrap quarterly-kgi">
                        <a href="kgi-detail.html">
                            <div class="top-text">
                                <p class="q-index-detail">テキストテキストテキストテキストテキストテキストテキストテキスト</p>
                            </div>
                            <div class="index-chart">
                                <div class="progress-wrap">
                                    <div class="progress-pie-chart" data-percent="45">
                                        <div class="ppc-progress">
                                            <div class="ppc-progress-fill"></div>
                                        </div>
                                        <div class="ppc-percent">
                                            <div class="percent-inner-wrap">
                                                <span class="percent-num">%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gm-tags-wrap">
                                <div class="tag-item">
                                    <a href="#">
                                        <p class="tag-text">マーケティング</p>
                                    </a>
                                </div>
                            </div>
                        </a>
                        <div class="kgi-hover-wrap">
                            <p class="kgi-edit-btn">編集する</p>
                            <p class="kgi-delete-btn">削除する</p>
                        </div>
                    </div> -->
                    <div class="kgi-addition-wrap quarterly-kgi">
                        <div class="img-wrap">
                            <img src="img/plus.png" alt="KGIの追加">
                        </div>
                    </div>
                </div>
            </div>
            <div class="kgi-wrap3">
                <div class="top-text">
                    <p class="index-name">月次KGI</p>
                </div>
                <div class="kgi-large-wrap mkgi-regular slider" id="mkgi">
                    <div class="mkgi-inner-wrap monthly-kgi">
                        <a href="/monthly-kgi-detail.html">
                            <div class="top-text">
                                <p class="index-detail">テキストテキストテキストテキストテキストテキストテキストテキスト</p>
                            </div>
                            <div class="index-chart">
                                <div class="progress-wrap">
                                    <div class="progress-pie-chart" data-percent="60">
                                        <div class="ppc-progress">
                                            <div class="ppc-progress-fill"></div>
                                        </div>
                                        <div class="ppc-percent">
                                            <div class="percent-inner-wrap">
                                                <span class="percent-num">%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gm-tags-wrap">
                                <div class="m-tag-item">
                                    <!-- <a href="#"> -->
                                        <p class="m-tag-text">マーケティング</p>
                                    <!-- </a> -->
                                </div>
                            </div>
                        </a>
                        <div class="mkgi-hover-wrap">
                            <p class="mkgi-edit-btn">編集する</p>
                            <p class="kgi-delete-btn">削除する</p>
                        </div>
                    </div>
                    <div class="mkgi-inner-wrap monthly-kgi">
                        <a href="/monthly-kgi-detail.html">
                            <div class="top-text">
                                <p class="index-detail">テキストテキストテキストテキストテキストテキストテキストテキスト</p>
                            </div>
                            <div class="index-chart">
                                <div class="progress-wrap">
                                    <div class="progress-pie-chart" data-percent="75">
                                        <div class="ppc-progress">
                                            <div class="ppc-progress-fill"></div>
                                        </div>
                                        <div class="ppc-percent">
                                            <div class="percent-inner-wrap">
                                                <span class="percent-num">%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gm-tags-wrap">
                                <div class="m-tag-item">
                                    <!-- <a href="#"> -->
                                        <p class="m-tag-text">組織全体</p>
                                    <!-- </a> -->
                                </div>
                            </div>
                        </a>
                        <div class="mkgi-hover-wrap">
                            <p class="mkgi-edit-btn">編集する</p>
                            <p class="kgi-delete-btn">削除する</p>
                        </div>
                    </div>
                    <div class="mkgi-inner-wrap monthly-kgi">
                        <a href="/monthly-kgi-detail.html">
                            <div class="top-text">
                                <p class="index-detail">テキストテキストテキストテキストテキストテキストテキストテキスト</p>
                            </div>
                            <div class="index-chart">
                                <div class="progress-wrap">
                                    <div class="progress-pie-chart" data-percent="45">
                                        <div class="ppc-progress">
                                            <div class="ppc-progress-fill"></div>
                                        </div>
                                        <div class="ppc-percent">
                                            <div class="percent-inner-wrap">
                                                <span class="percent-num">%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gm-tags-wrap">
                                <div class="m-tag-item">
                                    <!-- <a href="#"> -->
                                        <p class="m-tag-text">マーケティング</p>
                                    <!-- </a> -->
                                </div>
                            </div>
                        </a>
                        <div class="mkgi-hover-wrap">
                            <p class="mkgi-edit-btn">編集する</p>
                            <p class="kgi-delete-btn">削除する</p>
                        </div>
                    </div>
                    <div class="mkgi-inner-wrap monthly-kgi">
                        <a href="/monthly-kgi-detail.html">
                            <div class="top-text">
                                <p class="index-detail">テキストテキストテキストテキストテキストテキストテキストテキスト</p>
                            </div>
                            <div class="index-chart">
                                <div class="progress-wrap">
                                    <div class="progress-pie-chart" data-percent="45">
                                        <div class="ppc-progress">
                                            <div class="ppc-progress-fill"></div>
                                        </div>
                                        <div class="ppc-percent">
                                            <div class="percent-inner-wrap">
                                                <span class="percent-num">%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gm-tags-wrap">
                                <div class="m-tag-item">
                                    <!-- <a href="#"> -->
                                        <p class="m-tag-text">組織全体</p>
                                    <!-- </a> -->
                                </div>
                            </div>
                        </a>
                        <div class="mkgi-hover-wrap">
                            <p class="mkgi-edit-btn">編集する</p>
                            <p class="kgi-delete-btn">削除する</p>
                        </div>
                    </div>
                    <div class="mkgi-inner-wrap monthly-kgi">
                        <a href="/monthly-kgi-detail.html">
                            <div class="top-text">
                                <p class="index-detail">テキストテキストテキストテキストテキストテキストテキストテキスト</p>
                            </div>
                            <div class="index-chart">
                                <div class="progress-wrap">
                                    <div class="progress-pie-chart" data-percent="60">
                                        <div class="ppc-progress">
                                            <div class="ppc-progress-fill"></div>
                                        </div>
                                        <div class="ppc-percent">
                                            <div class="percent-inner-wrap">
                                                <span class="percent-num">%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gm-tags-wrap">
                                <div class="m-tag-item">
                                    <!-- <a href="#"> -->
                                        <p class="m-tag-text">組織全体</p>
                                    <!-- </a> -->
                                </div>
                            </div>
                        </a>
                        <div class="mkgi-hover-wrap">
                            <p class="mkgi-edit-btn">編集する</p>
                            <p class="kgi-delete-btn">削除する</p>
                        </div>
                    </div>
                    <div class="mkgi-inner-wrap monthly-kgi">
                        <a href="/monthly-kgi-detail.html">
                            <div class="top-text">
                                <p class="index-detail">テキストテキストテキストテキストテキストテキストテキストテキスト</p>
                            </div>
                            <div class="index-chart">
                                <div class="progress-wrap">
                                    <div class="progress-pie-chart" data-percent="75">
                                        <div class="ppc-progress">
                                            <div class="ppc-progress-fill"></div>
                                        </div>
                                        <div class="ppc-percent">
                                            <div class="percent-inner-wrap">
                                                <span class="percent-num">%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gm-tags-wrap">
                                <div class="m-tag-item">
                                    <!-- <a href="#"> -->
                                        <p class="m-tag-text">マーケティング</p>
                                    <!-- </a> -->
                                </div>
                            </div>
                        </a>
                        <div class="mkgi-hover-wrap">
                            <p class="mkgi-edit-btn">編集する</p>
                            <p class="kgi-delete-btn">削除する</p>
                        </div>
                    </div>
                    <div class="mkgi-inner-wrap monthly-kgi">
                        <a href="/monthly-kgi-detail.html">
                            <div class="top-text">
                                <p class="index-detail">テキストテキストテキストテキストテキストテキストテキストテキスト</p>
                            </div>
                            <div class="index-chart">
                                <div class="progress-wrap">
                                    <div class="progress-pie-chart" data-percent="45">
                                        <div class="ppc-progress">
                                            <div class="ppc-progress-fill"></div>
                                        </div>
                                        <div class="ppc-percent">
                                            <div class="percent-inner-wrap">
                                                <span class="percent-num">%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gm-tags-wrap">
                                <div class="m-tag-item">
                                    <a href="#">
                                        <p class="m-tag-text">組織全体</p>
                                    </a>
                                </div>
                            </div>
                        </a>
                        <div class="mkgi-hover-wrap">
                            <p class="mkgi-edit-btn">編集する</p>
                            <p class="kgi-delete-btn">削除する</p>
                        </div>
                    </div>
                    <!-- <div class="mkgi-inner-wrap monthly-kgi">
                        <a href="/monthly-kgi-detail.html">
                            <div class="top-text">
                                <p class="index-detail">テキストテキストテキストテキストテキストテキストテキストテキスト</p>
                            </div>
                            <div class="index-chart">
                                <div class="progress-wrap">
                                    <div class="progress-pie-chart" data-percent="45">
                                        <div class="ppc-progress">
                                            <div class="ppc-progress-fill"></div>
                                        </div>
                                        <div class="ppc-percent">
                                            <div class="percent-inner-wrap">
                                                <span class="percent-num">%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gm-tags-wrap">
                                <div class="m-tag-item">
                                    <a href="#">
                                        <p class="m-tag-text">マーケティング</p>
                                    </a>
                                </div>
                            </div>
                        </a>
                        <div class="mkgi-hover-wrap">
                            <p class="mkgi-edit-btn">編集する</p>
                            <p class="kgi-delete-btn">削除する</p>
                        </div>
                    </div> -->
                    <div class="kgi-addition-wrap monthly-kgi">
                        <a href="monthly-kgi-edit.html">
                            <div class="img-wrap">
                                <img src="img/plus.png" alt="KGIの追加">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>