<div id="gm-inner-content">
    <div class="top-nav-border-wrap">
        <div class="top-nav-border"></div>
    </div>
    <div class="right-content">
        <div class="top-text-box">
            <p>ゴールマネージャー</p>
        </div>
        <div class="inner-wrap">
            <div class="kgi-wrap">
                <div class="top-text">
                    <p class="index-name">年間KGI</p>
                </div>
                <div class="kgi-large-wrap">
                    <div class="kgi-inner-wrap">
                        <div class="top-text">
                            <p class="index-detail">ティール組織の浸透により、労働問題の解決に繋げる</p>
                        </div>
                        <div class="index-chart">
                            <div class="progress-wrap">
                                <div class="progress-pie-chart" data-percent="60">
                                    <div class="ppc-progress">
                                        <div class="ppc-progress-fill"></div>
                                    </div>
                                    <div class="ppc-percent">
                                        <div class="percent-inner-wrap">
                                            <span class="percent-num">%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="kgi-addition-wrap">
                        <div class="img-wrap">
                            <img src="img/plus.png" alt="KGIの追加">
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="kgi-wrap2">
                <div class="top-text">
                    <p class="index-name">四半期KGI</p>
                </div>
                <div class="kgi-large-wrap regular slider">
                    <div class="kgi-inner-wrap">
                        <div class="top-text">
                            <p class="index-detail">テキストテキストテキストテキストテキストテキストテキストテキスト</p>
                        </div>
                        <div class="index-chart">
                            <div class="progress-wrap">
                                <div class="progress-pie-chart" data-percent="60">
                                    <div class="ppc-progress">
                                        <div class="ppc-progress-fill"></div>
                                    </div>
                                    <div class="ppc-percent">
                                        <div class="percent-inner-wrap">
                                            <span class="percent-num">%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kgi-inner-wrap">
                        <div class="top-text">
                            <p class="index-detail">テキストテキストテキストテキストテキストテキストテキストテキスト</p>
                        </div>
                        <div class="index-chart">
                            <div class="progress-wrap">
                                <div class="progress-pie-chart" data-percent="75">
                                    <div class="ppc-progress">
                                        <div class="ppc-progress-fill"></div>
                                    </div>
                                    <div class="ppc-percent">
                                        <div class="percent-inner-wrap">
                                            <span class="percent-num">%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kgi-inner-wrap">
                        <div class="top-text">
                            <p class="index-detail">テキストテキストテキストテキストテキストテキストテキストテキスト</p>
                        </div>
                        <div class="index-chart">
                            <div class="progress-wrap">
                                <div class="progress-pie-chart" data-percent="45">
                                    <div class="ppc-progress">
                                        <div class="ppc-progress-fill"></div>
                                    </div>
                                    <div class="ppc-percent">
                                        <div class="percent-inner-wrap">
                                            <span class="percent-num">%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kgi-inner-wrap">
                        <div class="top-text">
                            <p class="index-detail">テキストテキストテキストテキストテキストテキストテキストテキスト</p>
                        </div>
                        <div class="index-chart">
                            <div class="progress-wrap">
                                <div class="progress-pie-chart" data-percent="45">
                                    <div class="ppc-progress">
                                        <div class="ppc-progress-fill"></div>
                                    </div>
                                    <div class="ppc-percent">
                                        <div class="percent-inner-wrap">
                                            <span class="percent-num">%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kgi-inner-wrap">
                        <div class="top-text">
                            <p class="index-detail">テキストテキストテキストテキストテキストテキストテキストテキスト</p>
                        </div>
                        <div class="index-chart">
                            <div class="progress-wrap">
                                <div class="progress-pie-chart" data-percent="60">
                                    <div class="ppc-progress">
                                        <div class="ppc-progress-fill"></div>
                                    </div>
                                    <div class="ppc-percent">
                                        <div class="percent-inner-wrap">
                                            <span class="percent-num">%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kgi-inner-wrap">
                        <div class="top-text">
                            <p class="index-detail">テキストテキストテキストテキストテキストテキストテキストテキスト</p>
                        </div>
                        <div class="index-chart">
                            <div class="progress-wrap">
                                <div class="progress-pie-chart" data-percent="75">
                                    <div class="ppc-progress">
                                        <div class="ppc-progress-fill"></div>
                                    </div>
                                    <div class="ppc-percent">
                                        <div class="percent-inner-wrap">
                                            <span class="percent-num">%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kgi-inner-wrap">
                        <div class="top-text">
                            <p class="index-detail">テキストテキストテキストテキストテキストテキストテキストテキスト</p>
                        </div>
                        <div class="index-chart">
                            <div class="progress-wrap">
                                <div class="progress-pie-chart" data-percent="45">
                                    <div class="ppc-progress">
                                        <div class="ppc-progress-fill"></div>
                                    </div>
                                    <div class="ppc-percent">
                                        <div class="percent-inner-wrap">
                                            <span class="percent-num">%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kgi-inner-wrap">
                        <div class="top-text">
                            <p class="index-detail">テキストテキストテキストテキストテキストテキストテキストテキスト</p>
                        </div>
                        <div class="index-chart">
                            <div class="progress-wrap">
                                <div class="progress-pie-chart" data-percent="45">
                                    <div class="ppc-progress">
                                        <div class="ppc-progress-fill"></div>
                                    </div>
                                    <div class="ppc-percent">
                                        <div class="percent-inner-wrap">
                                            <span class="percent-num">%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="kgi-addition-wrap">
                        <div class="img-wrap">
                            <img src="img/plus.png" alt="KGIの追加">
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="kgi-wrap3">
                <div class="top-text">
                    <p class="index-name">月次KGI</p>
                </div>
                <div class="kgi-large-wrap regular slider">
                    <div class="kgi-inner-wrap">
                        <div class="top-text">
                            <p class="index-detail">テキストテキストテキストテキストテキストテキストテキストテキスト</p>
                        </div>
                        <div class="index-chart">
                            <div class="progress-wrap">
                                <div class="progress-pie-chart" data-percent="60">
                                    <div class="ppc-progress">
                                        <div class="ppc-progress-fill"></div>
                                    </div>
                                    <div class="ppc-percent">
                                        <div class="percent-inner-wrap">
                                            <span class="percent-num">%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kgi-inner-wrap">
                        <div class="top-text">
                            <p class="index-detail">テキストテキストテキストテキストテキストテキストテキストテキスト</p>
                        </div>
                        <div class="index-chart">
                            <div class="progress-wrap">
                                <div class="progress-pie-chart" data-percent="75">
                                    <div class="ppc-progress">
                                        <div class="ppc-progress-fill"></div>
                                    </div>
                                    <div class="ppc-percent">
                                        <div class="percent-inner-wrap">
                                            <span class="percent-num">%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kgi-inner-wrap">
                        <div class="top-text">
                            <p class="index-detail">テキストテキストテキストテキストテキストテキストテキストテキスト</p>
                        </div>
                        <div class="index-chart">
                            <div class="progress-wrap">
                                <div class="progress-pie-chart" data-percent="45">
                                    <div class="ppc-progress">
                                        <div class="ppc-progress-fill"></div>
                                    </div>
                                    <div class="ppc-percent">
                                        <div class="percent-inner-wrap">
                                            <span class="percent-num">%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kgi-inner-wrap">
                        <div class="top-text">
                            <p class="index-detail">テキストテキストテキストテキストテキストテキストテキストテキスト</p>
                        </div>
                        <div class="index-chart">
                            <div class="progress-wrap">
                                <div class="progress-pie-chart" data-percent="45">
                                    <div class="ppc-progress">
                                        <div class="ppc-progress-fill"></div>
                                    </div>
                                    <div class="ppc-percent">
                                        <div class="percent-inner-wrap">
                                            <span class="percent-num">%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kgi-inner-wrap">
                        <div class="top-text">
                            <p class="index-detail">テキストテキストテキストテキストテキストテキストテキストテキスト</p>
                        </div>
                        <div class="index-chart">
                            <div class="progress-wrap">
                                <div class="progress-pie-chart" data-percent="60">
                                    <div class="ppc-progress">
                                        <div class="ppc-progress-fill"></div>
                                    </div>
                                    <div class="ppc-percent">
                                        <div class="percent-inner-wrap">
                                            <span class="percent-num">%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kgi-inner-wrap">
                        <div class="top-text">
                            <p class="index-detail">テキストテキストテキストテキストテキストテキストテキストテキスト</p>
                        </div>
                        <div class="index-chart">
                            <div class="progress-wrap">
                                <div class="progress-pie-chart" data-percent="75">
                                    <div class="ppc-progress">
                                        <div class="ppc-progress-fill"></div>
                                    </div>
                                    <div class="ppc-percent">
                                        <div class="percent-inner-wrap">
                                            <span class="percent-num">%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kgi-inner-wrap">
                        <div class="top-text">
                            <p class="index-detail">テキストテキストテキストテキストテキストテキストテキストテキスト</p>
                        </div>
                        <div class="index-chart">
                            <div class="progress-wrap">
                                <div class="progress-pie-chart" data-percent="45">
                                    <div class="ppc-progress">
                                        <div class="ppc-progress-fill"></div>
                                    </div>
                                    <div class="ppc-percent">
                                        <div class="percent-inner-wrap">
                                            <span class="percent-num">%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kgi-inner-wrap">
                        <div class="top-text">
                            <p class="index-detail">テキストテキストテキストテキストテキストテキストテキストテキスト</p>
                        </div>
                        <div class="index-chart">
                            <div class="progress-wrap">
                                <div class="progress-pie-chart" data-percent="45">
                                    <div class="ppc-progress">
                                        <div class="ppc-progress-fill"></div>
                                    </div>
                                    <div class="ppc-percent">
                                        <div class="percent-inner-wrap">
                                            <span class="percent-num">%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="kgi-addition-wrap">
                        <div class="img-wrap">
                            <img src="img/plus.png" alt="KGIの追加">
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>