<div id="gmd-inner-content">
    <div class="top-nav-border-wrap">
        <div class="top-nav-border"></div>
    </div>
    <div class="right-content">
        <div class="top-text-box">
            <p>ゴールマネージャー</p>
        </div>
        <div class="inner-wrap">
            <div id="gmd-inner-wrap">
                <div id="m-kgi-wrap">
                    <div class="top-text">
                        <p class="index-name">月次KGI</p>
                        <p class="index-detail">ティール組織の浸透により、労働問題の解決に繋げる</p>
                    </div>
                    <div class="index-body">
                        <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br><br>
                            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                    </div>
                    <div class="index-chart">
                        <div class="progress-wrap">
                            <div class="progress-pie-chart" data-percent="60">
                                <div class="ppc-progress">
                                    <div class="ppc-progress-fill"></div>
                                </div>
                                <div class="ppc-percent">
                                    <div class="percent-inner-wrap">
                                        <span class="percent-num">%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sp-bottom-content">
                        <a href="/monthly-kgi-edit.html">
                            <div class="gmd-edit-btn">
                                <p>編集する</p>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- <div class="inner-right-content"> -->
                    <div id="m-ksf-wrap">
                        <div class="top-text">
                            <p class="index-name">KSF</p>
                            <p class="index-detail">KGI達成に必要なプロセス</p>
                        </div>
                        <div class="under-top-content">
                            <div class="ksf-inner-wrap">
                                <div class="top-text">
                                    <p>K-A</p>
                                </div>
                                <div class="ksf-body">
                                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキス</p>
                                </div>
                            </div>
                            <div class="ksf-inner-wrap">
                                <div class="top-text">
                                    <p>K-B</p>
                                </div>
                                <div class="ksf-body">
                                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキス</p>
                                </div>
                            </div>
                            <div class="ksf-inner-wrap">
                                <div class="top-text">
                                    <p>K-C</p>
                                </div>
                                <div class="ksf-body">
                                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキス</p>
                                </div>
                            </div>
                        </div>
                        <div class="sp-bottom-content">
                            <a href="/monthly-kgi-edit.html">
                                <div class="gmd-edit-btn">
                                    <p>編集する</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div id="m-kpi-wrap">
                        <div class="top-text">
                            <p class="index-name">KPI</p>
                            <p class="index-detail">KSF達成のための目標プロセス</p>
                        </div>
                        <div class="under-top-content">
                            <div class="kpi-inner-wrap">
                                <p class="kpi-title">円滑にすすめる</p>
                                <p class="kpi-body">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                                <div class="progress-wrap">
                                    <progress class="prog" value="73" max="100">73%</progress>
                                    <label class="outp-label"><p><output class="outp">73</output>%</p></label>
                                </div>
                            </div>
                            <div class="kpi-inner-wrap">
                                <p class="kpi-title">20日で達成する</p>
                                <p class="kpi-body">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                                <div class="progress-wrap">
                                    <progress class="prog" value="73" max="100">73%</progress>
                                    <label class="outp-label"><p><output class="outp">73</output>%</p></label>
                                </div>
                            </div>
                            <div class="kpi-inner-wrap">
                                <p class="kpi-title">10社に導入</p>
                                <p class="kpi-body">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                                <div class="progress-wrap">
                                    <progress class="prog" value="73" max="100">73%</progress>
                                    <label class="outp-label"><p><output class="outp">73</output>%</p></label>
                                </div>
                            </div>
                        </div>
                        <div class="sp-bottom-content">
                            <a href="/monthly-kgi-edit.html">
                                <div class="gmd-edit-btn">
                                    <p>編集する</p>
                                </div>
                            </a>
                        </div>
                    </div>
                <!-- </div> -->
                <div id="gmd-bottom-content">
                    <a href="/monthly-kgi-edit.html">
                        <div class="gmd-edit-btn">
                            <p>編集する</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>