<div id="gme-inner-content">
    <div class="top-nav-border-wrap">
        <div class="top-nav-border"></div>
    </div>
    <div class="right-content">
        <div class="top-text-box">
            <p>ゴールマネージャー</p>
        </div>
        <div class="inner-wrap">
            <div id="gme-inner-wrap">
                <div id="m-kgi-wrap">
                    <div class="top-text">
                        <p class="index-name">月次KGI</p>
                        <textarea name="gme-index-detail" id="" class="gme-index-detail" cols="30" rows="10" placeholder="ティール組織の浸透により、労働問題の解決に繋げる"></textarea>
                    </div>
                    <textarea name="" id="" cols="30" rows="10" class="gme-index-body"></textarea>
                    <div class="time-period-wrap">
                        <div class="top-text">
                            <p>期間</p>
                        </div>
                        <div id="daterange-wrap">
                            <img src="img/calendar.png" alt="KGIの期間" >
                            <input type="text" id="gm-range" value="2020/02/20 ~ 2020/03/19">
                        </div>
                    </div>
                    <div class="mkgi-tags-wrap">
                        <div class="top-text">
                            <p>KGIのタグ</p>
                        </div>
                        <input type="text" id="mkgi-tag-input">
                    </div>
                    <div class="sp-bottom-content">
                        <!-- <a href="/goal-manager.html"> -->
                            <div class="gme-save-btn">
                                <p>保存する</p>
                            </div>
                        <!-- </a> -->
                    </div>
                </div>
                <div id="m-ksf-wrap">
                    <div class="top-text">
                        <p class="index-name">KSF</p>
                        <textarea name="gme-index-detail" id="" class="gme-index-detail" cols="30" rows="10" placeholder="KGI達成に必要なプロセス"></textarea>
                    </div>
                    <div class="under-top-content">
                        <div class="ksf-inner-wrap">
                            <div class="top-text">
                                <p>KSF-A</p>
                            </div>
                            <textarea name="" id="" cols="30" rows="10" class="gme-ksf-title" placeholder="円滑にすすめる"></textarea>
                            <textarea name="" id="" cols="30" rows="10" class="gme-ksf-body"></textarea>
                        </div>
                        <div class="ksf-inner-wrap">
                            <div class="top-text">
                                <p>KSF-B</p>
                            </div>
                            <textarea name="" id="" cols="30" rows="10" class="gme-ksf-title" placeholder="円滑にすすめる"></textarea>
                            <textarea name="" id="" cols="30" rows="10" class="gme-ksf-body"></textarea>
                        </div>
                        <div class="ksf-inner-wrap">
                            <div class="top-text">
                                <p>KSF-C</p>
                            </div>
                            <textarea name="" id="" cols="30" rows="10" class="gme-ksf-title" placeholder="円滑にすすめる"></textarea>
                            <textarea name="" id="" cols="30" rows="10" class="gme-ksf-body"></textarea>
                        </div>
                    </div>
                    <div class="sp-bottom-content">
                        <!-- <a href="/goal-manager.html"> -->
                            <div class="gme-save-btn">
                                <p>保存する</p>
                            </div>
                        <!-- </a> -->
                    </div>
                </div>
                <div id="m-kpi-wrap">
                    <div class="top-text">
                        <p class="index-name">KPI</p>
                        <textarea name="gme-index-detail" id="" class="gme-index-detail" cols="30" rows="10" placeholder="KSF達成のための目標プロセス"></textarea>
                    </div>
                    <div class="under-top-content">
                        <div class="kpi-inner-wrap">
                            <div class="select-wrap">
                                <select name="ksf-select" id="" class="ksf-select">
                                    <option value="KSF-A" selected>KSF-A</option>
                                    <option value="KSF-B">KSF-B</option>
                                    <option value="KSF-C">KSF-C</option>
                                </select>
                            </div>
                            <textarea name="" id="" cols="30" rows="10" class="gme-kpi-title" placeholder="円滑にすすめる"></textarea>
                            <textarea name="" id="" cols="30" rows="10" class="gme-kpi-body"></textarea>
                        </div>
                        <div class="kpi-inner-wrap">
                            <div class="select-wrap">
                                <select name="ksf-select" id="" class="ksf-select">
                                    <option value="KSF-A" selected>KSF-A</option>
                                    <option value="KSF-B">KSF-B</option>
                                    <option value="KSF-C">KSF-C</option>
                                </select>
                            </div>
                            <textarea name="" id="" cols="30" rows="10" class="gme-kpi-title" placeholder="20日で達成する"></textarea>
                            <textarea name="" id="" cols="30" rows="10" class="gme-kpi-body"></textarea>
                        </div>
                        <div class="kpi-inner-wrap">
                            <div class="select-wrap">
                                <select name="ksf-select" id="" class="ksf-select">
                                    <option value="KSF-A">KSF-A</option>
                                    <option value="KSF-B" selected>KSF-B</option>
                                    <option value="KSF-C">KSF-C</option>
                                </select>
                            </div>
                            <textarea name="" id="" cols="30" rows="10" class="gme-kpi-title" placeholder="10社に導入"></textarea>
                            <textarea name="" id="" cols="30" rows="10" class="gme-kpi-body"></textarea>
                        </div>
                    </div>
                    <div class="sp-bottom-content">
                        <!-- <a href="/goal-manager.html"> -->
                            <div class="gme-save-btn">
                                <p>保存する</p>
                            </div>
                        <!-- </a> -->
                    </div>
                </div>
                <div id="gme-bottom-content">
                    <!-- <a href="/goal-manager.html"> -->
                        <div class="gme-save-btn">
                            <p>保存する</p>
                        </div>
                    <!-- </a> -->
                </div>
            </div>
        </div>
    </div>
</div>