<div id="gme-inner-content">
    <div class="top-nav-border-wrap">
        <div class="top-nav-border"></div>
    </div>
    <div class="right-content">
        <div class="top-text-box">
            <p>ゴールマネージャー</p>
        </div>
        <div class="inner-wrap">
            <div id="gme-inner-wrap">
                <div id="m-kgi-wrap">
                    <div class="top-text">
                        <p class="index-name">年間KGI</p>
                        <textarea name="gme-index-detail" id="" class="gme-index-detail" cols="30" rows="10">ティール組織の浸透により、労働問題の解決に繋げる</textarea>
                    </div>
                    <textarea name="" id="" cols="30" rows="10" class="gme-index-body"></textarea>
                </div>
                <div id="m-ksf-wrap">
                    <div class="top-text">
                        <p class="index-name">KSF</p>
                        <textarea name="gme-index-detail" id="" class="gme-index-detail" cols="30" rows="10">KGI達成に必要なプロセス</textarea>
                    </div>
                    <div class="under-top-content">
                        <div class="ksf-inner-wrap">
                            <div class="top-text">
                                <p>K-A</p>
                            </div>
                            <textarea name="" id="" cols="30" rows="10" class="gme-ksf-body"></textarea>
                        </div>
                        <div class="ksf-inner-wrap">
                            <div class="top-text">
                                <p>K-B</p>
                            </div>
                            <textarea name="" id="" cols="30" rows="10" class="gme-ksf-body"></textarea>
                        </div>
                        <div class="ksf-inner-wrap">
                            <div class="top-text">
                                <p>K-C</p>
                            </div>
                            <textarea name="" id="" cols="30" rows="10" class="gme-ksf-body"></textarea>
                        </div>
                    </div>
                </div>
                <div id="m-kpi-wrap">
                    <div class="top-text">
                        <p class="index-name">KPI</p>
                        <textarea name="gme-index-detail" id="" class="gme-index-detail" cols="30" rows="10">KSF達成のための目標プロセス</textarea>
                    </div>
                    <div class="under-top-content">
                        <div class="kpi-inner-wrap">
                            <select name="ksf-select" id="" class="ksf-select">
                                <option value="KSF-A" selected>KSF-A</option>
                                <option value="KSF-B">KSF-B</option>
                                <option value="KSF-C">KSF-C</option>
                            </select>
                            <textarea name="" id="" cols="30" rows="10" class="gme-kpi-title">円滑にすすめる</textarea>
                            <textarea name="" id="" cols="30" rows="10" class="gme-kpi-body">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</textarea>
                        </div>
                        <div class="kpi-inner-wrap">
                            <select name="ksf-select" id="" class="ksf-select">
                                <option value="KSF-A" selected>KSF-A</option>
                                <option value="KSF-B">KSF-B</option>
                                <option value="KSF-C">KSF-C</option>
                            </select>
                            <textarea name="" id="" cols="30" rows="10" class="gme-kpi-title">20日で達成する</textarea>
                            <textarea name="" id="" cols="30" rows="10" class="gme-kpi-body">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</textarea>
                        </div>
                        <div class="kpi-inner-wrap">
                            <select name="ksf-select" id="" class="ksf-select">
                                <option value="KSF-A">KSF-A</option>
                                <option value="KSF-B" selected>KSF-B</option>
                                <option value="KSF-C">KSF-C</option>
                            </select>
                            <textarea name="" id="" cols="30" rows="10" class="gme-kpi-title">10社に導入</textarea>
                            <textarea name="" id="" cols="30" rows="10" class="gme-kpi-body">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</textarea>
                        </div>
                    </div>
                </div>
                <div id="bottom-content">
                    <div id="gme-save-btn">
                        <p>保存する</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>