<div id="inner-content">
    <div class="top-text-box">
        <h2>What would you like to do?</h2>
    </div>
    <div class="d-item-wrap">
        <div class="dashboard-item">
            <div class="img-wrap">
                <img src="img/vote.png" alt="VOTING" id="voting-img">
            </div>
            <div class="text-box">
                <p>VOTING</p>
            </div>
        </div>
        <div class="dashboard-item">
            <div class="img-wrap">
                <img src="img/exchange.png" alt="DISCUSSION" id="discussion-img">
            </div>
            <div class="text-box">
                <p>DISCUSSION</p>
            </div>
        </div>
        <div class="dashboard-item">
            <div class="img-wrap">
                <img src="img/report.png" alt="REPORT" id="report-img">
            </div>
            <div class="text-box">
                <p>REPORT</p>
            </div>
        </div>
        <div class="dashboard-item">
            <div class="img-wrap">
                <img src="img/exchange.png" alt="FUNDING" id="funding-img">
            </div>
            <div class="text-box">
                <p>FUNDING</p>
            </div>
        </div>
    </div>
    <div class="d-item-wrap2">
        <div class="dashboard-item">
            <div class="img-wrap">
                <img src="img/exchange.png" alt="DASHBOARD" id="dashboard-img">
            </div>
            <div class="text-box">
                <p>DASHBOARD</p>
            </div>
        </div>
        <div class="dashboard-item-none">
            <div class="img-wrap">
                <img src="img/plus.png" alt="plus" id="plus-img">
            </div>
            <!-- <div class="text-box">
                <p></p>
            </div> -->
        </div>
    </div>
    <div id="help-btn">

    </div>
</div>