<div id="left-menu">
	<div class="top">
		<div class="img-wrap">
			<img src="./img/logo.png" alt="GUILDのロゴ" id="left-menu-logo">
		</div>
		<div id="toggle-menu">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<div id="profile">
		<div class="img-wrap">
			<img src="img/profile.png" alt="プロフィール画像" id="profile-img">
		</div>
		<div class="text-box">
			<p class="p-text-large">Jon Done</p>
			<p class="p-text-small">developer</p>
		</div>
	</div>
	<div id="left-menu-item">
		<!-- <a href="/index.html">
			<div class="item-wrap">
				<div class="img-wrap">
					<img src="img/home.png" alt="HOME" id="l-menu-item-img">
				</div>
				<p>HOME</p>
			</div>
		</a> -->
		<a href="/lobby.html">
			<div class="item-wrap">
				<div class="img-wrap">
					<img src="img/comment-alt.png" alt="LOBBY" id="l-menu-item-img">
				</div>
				<p>LOBBY</p>
			</div>
		</a>
		<a href="/report-list.html">
			<div class="item-wrap">
				<div class="img-wrap">
					<img src="img/clipboard.png" alt="REPORT" id="l-menu-item-img">
				</div>
				<p>REPORT</p>
			</div>
		</a>
		<div id="progress-toggle">
			<div class="item-wrap">
				<div class="img-wrap">
					<img src="img/chart.png" alt="PROGRESS" id="l-menu-item-img">
				</div>
				<p id="b4-arrow">PROGRESS</p>
				<!-- <img src="img/angle-down.png" alt="down arrow" class="down-arrow"> -->
			</div>
		</div>
		<div id="pull-down">
			<a href="/progress.html">
				<p>PROGRESSトップ</p>
			</a>
			<a href="/goal-indicators.html">
				<p>KGI KSF KPI</p>
			</a>
			<a href="/personal-acition.html">
				<p>個人アクション</p>
			</a>
			<a href="/members-list.html">
				<p>メンバー一覧</p>
			</a>
		</div>
		<a href="/voting.html">
			<div class="item-wrap">
				<div class="img-wrap">
					<img src="img/write.png" alt="VOTING" id="l-menu-item-img">
				</div>
				<p>VOTING</p>
			</div>
		</a>
		<a href="/funding.html">
			<div class="item-wrap">
				<div class="img-wrap">
					<img src="img/money.png" alt="FUNDING" id="l-menu-item-img">
				</div>
				<p>FUNDING</p>
			</div>
		</a>
	</div>
</div>



<div id="left-menu-after">
	<div class="top">
		<div id="toggle-menu-after">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<div id="profile">
		<div class="img-wrap">
			<img src="img/profile.png" alt="プロフィール画像" id="profile-img">
		</div>
	</div>
	<div id="left-menu-item">
		<div class="item-wrap">
			<div class="img-wrap">
				<img src="img/home.png" alt="HOME" id="l-menu-item-img">
			</div>
		</div>
		<div class="item-wrap">
			<div class="img-wrap">
				<img src="img/write.png" alt="VOTING" id="l-menu-item-img">
			</div>
		</div>
		<div class="item-wrap">
			<div class="img-wrap">
				<img src="img/comment-alt.png" alt="DISCUSSION" id="l-menu-item-img">
			</div>
		</div>
		<div class="item-wrap">
			<div class="img-wrap">
				<img src="img/clipboard.png" alt="REPORT" id="l-menu-item-img">
			</div>
		</div>
		<div class="item-wrap">
			<div class="img-wrap">
				<img src="img/money.png" alt="FUNDING" id="l-menu-item-img">
			</div>
		</div>
		<div class="item-wrap">
			<div class="img-wrap">
				<img src="img/chart.png" alt="DASHBOARD" id="l-menu-item-img">
			</div>
		</div>
	</div>
</div>