<div id="left-menu">
	<div class="top">
		<div class="img-wrap">
			<img src="./img/dummy.png" alt="dummy" id="left-menu-logo">
			<div class="hum-menu">
				<span>-</span>
				<span>-</span>
				<span>-</span>
			</div>
		</div>
	</div>
	<div id="profile">
		<div class="img-wrap">
			<img src="img/dummy.png" alt="dummy" id="profile-img">
		</div>
		<div class="text-box">
			<p class="p-text-large">Jon Done</p>
			<p class="p-text-small">developer</p>
		</div>
	</div>
	<div id="left-menu-item">
		<div class="item-wrap">
			<div class="img-wrap">
				<img src="img/dummy.png" alt="" id="l-menu-item-img">
			</div>
			<p>HOME</p>
		</div>
		<div class="item-wrap">
			<div class="img-wrap">
				<img src="img/dummy.png" alt="" id="l-menu-item-img">
			</div>
			<p>VOTING</p>
		</div>
		<div class="item-wrap">
			<div class="img-wrap">
				<img src="img/dummy.png" alt="" id="l-menu-item-img">
			</div>
			<p>DISCUSSION</p>
		</div>
		<div class="item-wrap">
			<div class="img-wrap">
				<img src="img/dummy.png" alt="" id="l-menu-item-img">
			</div>
			<p>REPORT</p>
		</div>
		<div class="item-wrap">
			<div class="img-wrap">
				<img src="img/dummy.png" alt="" id="l-menu-item-img">
			</div>
			<p>FUNDING</p>
		</div>
		<div class="item-wrap">
			<div class="img-wrap">
				<img src="img/dummy.png" alt="" id="l-menu-item-img">
			</div>
			<p>DASHBOARD</p>
		</div>
	</div>
</div>