<div id="p-inner-content">
    <div class="top-nav-border-wrap">
        <div class="top-nav-border"></div>
    </div>
    <div class="right-content">
        <div class="top-text-box">
            <p>PROGRESS</p>
        </div>
        <div class="inner-wrap">
            <div id="progresses-wrap">
                <div class="progresses-charts">
                    <div class="chart-wrap">
                        <div class="top-text-box">
                            <p>リピート率の高いインフラを構築する</p>
                        </div>
                        <progress></progress>
                    </div>
                    <div class="chart-wrap">
                        <div class="top-text-box">
                            <p>合意形成の達成率アップ</p>
                        </div>
                        <progress></progress>
                    </div>
                    <div class="chart-wrap">
                        <div class="top-text-box">
                            <p>ユーザーの新規獲得</p>
                        </div>
                        <progress></progress>
                    </div>
                    <div class="chart-wrap">
                        <div class="top-text-box">
                            <p>新しい世界を構築</p>
                        </div>
                        <progress></progress>
                    </div>
                </div>
                <div class="progresses-list">
                    <div class="p-list-inner">
                        <div class="main-progress">
                            <div class="img-wrap">
                                <img src="img/sely-large.png" alt="sely">
                            </div>
                            <p class="p-subject">新しいプロダクトを作成する</p>
                            <progress></progress>
                        </div>
                        <div class="sub-progress">
                            <div class="img-wrap">
                                <img src="img/sely-large.png" alt="sely">
                            </div>
                            <p class="p-subject">リピート率の高いインフラを構築する</p>
                            <progress></progress>
                        </div>
                        <div class="sub-progress">
                            <div class="img-wrap">
                                <img src="img/sely-large.png" alt="sely">
                            </div>
                            <p class="p-subject">シェア率のアップ</p>
                            <progress></progress>
                        </div>
                        <div class="sub-progress">
                            <div class="img-wrap">
                                <img src="img/sely-large.png" alt="sely">
                            </div>
                            <p class="p-subject">合意形成の達成率アップ</p>
                            <progress></progress>
                        </div>
                        <div class="sub-progress">
                            <div class="img-wrap">
                                <img src="img/sely-large.png" alt="sely">
                            </div>
                            <p class="p-subject">ユーザーの新規獲得</p>
                            <progress></progress>
                        </div>
                        <div class="sub-progress">
                            <div class="img-wrap">
                                <img src="img/sely-large.png" alt="sely">
                            </div>
                            <p class="p-subject">新しい世界を構築</p>
                            <progress></progress>
                        </div>
                    </div>
                    <div class="p-list-inner">
                        <div class="main-progress">
                            <div class="img-wrap">
                                <img src="img/sely-large.png" alt="sely">
                            </div>
                            <p class="p-subject">イノベーションの創造</p>
                            <progress></progress>
                        </div>
                        <div class="sub-progress">
                            <div class="img-wrap">
                                <img src="img/sely-large.png" alt="sely">
                            </div>
                            <p class="p-subject">リピート率の高いインフラを構築する</p>
                            <progress></progress>
                        </div>
                        <div class="sub-progress">
                            <div class="img-wrap">
                                <img src="img/sely-large.png" alt="sely">
                            </div>
                            <p class="p-subject">シェア率のアップ</p>
                            <progress></progress>
                        </div>
                        <div class="sub-progress">
                            <div class="img-wrap">
                                <img src="img/sely-large.png" alt="sely">
                            </div>
                            <p class="p-subject">合意形成の達成率アップ</p>
                            <progress></progress>
                        </div>
                        <div class="sub-progress">
                            <div class="img-wrap">
                                <img src="img/sely-large.png" alt="sely">
                            </div>
                            <p class="p-subject">ユーザーの新規獲得</p>
                            <progress></progress>
                        </div>
                        <div class="sub-progress">
                            <div class="img-wrap">
                                <img src="img/sely-large.png" alt="sely">
                            </div>
                            <p class="p-subject">新しい世界を構築</p>
                            <progress></progress>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>