<div id="p-inner-content">
    <div class="top-nav-border-wrap">
        <div class="top-nav-border"></div>
    </div>
    <div class="right-content">
        <div class="top-text-box">
            <p>PROGRESS</p>
        </div>
        <div class="inner-wrap">
            <div id="progresses-wrap">
                <div class="progresses-charts">
                    <div class="chart-wrap">
                        <div class="top-text-box">
                            <p>リピート率の高いインフラを構築する</p>
                        </div>
                        <div class="inner-border-bottom"></div>
                        <div class="progress-wrap">
                            <div class="progress-pie-chart" data-percent="60">
                                <div class="ppc-progress">
                                    <div class="ppc-progress-fill"></div>
                                </div>
                                <div class="ppc-percent">
                                    <div class="percent-inner-wrap">
                                        <span class="percent-num">%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chart-wrap">
                        <div class="top-text-box">
                            <p>合意形成の達成率アップ</p>
                        </div>
                        <div class="inner-border-bottom"></div>
                        <div class="progress-wrap">
                            <div class="progress-pie-chart" data-percent="25">
                                <div class="ppc-progress">
                                    <div class="ppc-progress-fill"></div>
                                </div>
                                <div class="ppc-percent">
                                    <div class="percent-inner-wrap">
                                        <span class="percent-num">%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chart-wrap">
                        <div class="top-text-box">
                            <p>ユーザーの新規獲得</p>
                        </div>
                        <div class="inner-border-bottom"></div>
                        <div class="progress-wrap">
                            <div class="progress-pie-chart" data-percent="45">
                                <div class="ppc-progress">
                                    <div class="ppc-progress-fill"></div>
                                </div>
                                <div class="ppc-percent">
                                    <div class="percent-inner-wrap">
                                        <span class="percent-num">%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chart-wrap">
                        <div class="top-text-box">
                            <p>新しい世界を構築</p>
                        </div>
                        <div class="inner-border-bottom"></div>
                        <div class="progress-wrap">
                            <div class="progress-pie-chart" data-percent="80">
                                <div class="ppc-progress">
                                    <div class="ppc-progress-fill"></div>
                                </div>
                                <div class="ppc-percent">
                                    <div class="percent-inner-wrap">
                                        <span class="percent-num">%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="progresses-charts"></div>
                <div class="progresses-charts"></div>
                <div class="progresses-charts"></div>
                <div class="progresses-list">
                    <div class="p-list-inner">
                        <div class="main-progress">
                            <div class="img-wrap">
                                <img src="img/sely-large.png" alt="sely">
                            </div>
                            <div class="right-content">
                                <p class="p-subject">新しいプロダクトを作成する</p>
                                <progress class="p-prog" value="60" max="100">60%</progress>
                                <label class="outp-label"><p><output class="p-outp">60</output>%</p></label>
                            </div>
                        </div>
                        <div class="sub-progress">
                            <div class="img-wrap">
                                <img src="img/sely-large.png" alt="sely">
                            </div>
                            <div class="right-content">
                                <p class="p-subject">リピート率の高いインフラを構築する</p>
                                <progress class="prog" value="43" max="100">43%</progress>
                                <label class="outp-label"><p><output class="p-outp">43</output>%</p></label>
                            </div>
                        </div>
                        <div class="sub-progress">
                            <div class="img-wrap">
                                <img src="img/sely-large.png" alt="sely">
                            </div>
                            <div class="right-content">
                                <p class="p-subject">シェア率のアップ</p>
                                <progress class="prog" value="60" max="100"></progress>
                                <label class="outp-label"><p><output class="p-outp">60</output>%</p></label>
                            </div>
                        </div>
                        <div class="sub-progress">
                            <div class="img-wrap">
                                <img src="img/sely-large.png" alt="sely">
                            </div>
                            <div class="right-content">
                                <p class="p-subject">合意形成の達成率アップ</p>
                                <progress class="prog" value="20" max="100"></progress>
                                <label class="outp-label"><p><output class="p-outp">20</output>%</p></label>
                            </div>
                        </div>
                        <div class="sub-progress">
                            <div class="img-wrap">
                                <img src="img/sely-large.png" alt="sely">
                            </div>
                            <div class="right-content">
                                <p class="p-subject">ユーザーの新規獲得</p>
                                <progress class="prog" value="83" max="100"></progress>
                                <label class="outp-label"><p><output class="p-outp">83</output>%</p></label>
                            </div>
                        </div>
                        <div class="sub-progress">
                            <div class="img-wrap">
                                <img src="img/sely-large.png" alt="sely">
                            </div>
                            <div class="right-content">
                                <p class="p-subject">新しい世界を構築</p>
                                <progress class="prog" value="33" max="100"></progress>
                                <label class="outp-label"><p><output class="p-outp">33</output>%</p></label>
                            </div>
                        </div>
                    </div>
                    <div class="p-list-inner">
                        <div class="main-progress">
                            <div class="img-wrap">
                                <img src="img/sely-large.png" alt="sely">
                            </div>
                            <div class="right-content">
                                <p class="p-subject">イノベーションの創造</p>
                                <progress class="prog" value="70" max="100"></progress>
                                <label class="outp-label"><p><output class="p-outp">70</output>%</p></label>
                            </div>
                        </div>
                        <div class="sub-progress">
                            <div class="img-wrap">
                                <img src="img/sely-large.png" alt="sely">
                            </div>
                            <div class="right-content">
                                <p class="p-subject">リピート率の高いインフラを構築する</p>
                                <progress class="prog" value="33" max="100"></progress>
                                <label class="outp-label"><p><output class="p-outp">33</output>%</p></label>
                            </div>
                        </div>
                        <div class="sub-progress">
                            <div class="img-wrap">
                                <img src="img/sely-large.png" alt="sely">
                            </div>
                            <div class="right-content">
                                <p class="p-subject">シェア率のアップ</p>
                                <progress class="prog" value="53" max="100"></progress>
                                <label class="outp-label"><p><output class="p-outp">53</output>%</p></label>
                            </div>
                        </div>
                        <div class="sub-progress">
                            <div class="img-wrap">
                                <img src="img/sely-large.png" alt="sely">
                            </div>
                            <div class="right-content">
                                <p class="p-subject">合意形成の達成率アップ</p>
                                <progress class="prog" value="60" max="100"></progress>
                                <label class="outp-label"><p><output class="p-outp">60</output>%</p></label>
                            </div>
                        </div>
                        <div class="sub-progress">
                            <div class="img-wrap">
                                <img src="img/sely-large.png" alt="sely">
                            </div>
                            <div class="right-content">
                                <p class="p-subject">ユーザーの新規獲得</p>
                                <progress class="prog" value="90" max="100"></progress>
                                <label class="outp-label"><p><output class="p-outp">90</output>%</p></label>
                            </div>
                        </div>
                        <div class="sub-progress">
                            <div class="img-wrap">
                                <img src="img/sely-large.png" alt="sely">
                            </div>
                            <div class="right-content">
                                <p class="p-subject">新しい世界を構築</p>
                                <progress class="prog" value="20" max="100"></progress>
                                <label class="outp-label"><p><output class="p-outp">20</output>%</p></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>