<div id="p-inner-content">
    <div class="top-nav-border-wrap">
        <div class="top-nav-border"></div>
    </div>
    <div class="right-content">
        <div class="top-text-box">
            <p>PROGRESS</p>
        </div>
        <div class="inner-wrap">
            <div id="progresses-wrap">
                <div class="p-indexes">
                    <div class="index-wrap">
                        <div class="top-text">
                            <p class="index-name">KGI</p>
                            <p class="index-detail">ティール組織の浸透により労働問題の解決に繋げる</p>
                        </div>
                        <div class="index-chart">
                            <div class="progress-wrap">
                                <div class="progress-pie-chart" data-percent="60">
                                    <div class="ppc-progress">
                                        <div class="ppc-progress-fill"></div>
                                    </div>
                                    <div class="ppc-percent">
                                        <div class="percent-inner-wrap">
                                            <span class="percent-num">%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="index-wrap">
                        <div class="top-text">
                            <p class="index-name">四半期KPI</p>
                            <p class="index-detail">ティール組織の問題を解決するGUILDの開発</p>
                        </div>
                        <div class="index-chart">
                            <div class="progress-wrap">
                                <div class="progress-pie-chart" data-percent="75">
                                    <div class="ppc-progress">
                                        <div class="ppc-progress-fill"></div>
                                    </div>
                                    <div class="ppc-percent">
                                        <div class="percent-inner-wrap">
                                            <span class="percent-num">%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="index-wrap">
                        <div class="top-text">
                            <p class="index-name">月次KPI</p>
                            <p class="index-detail">仕様の洗い出しと、フレームの設計</p>
                        </div>
                        <div class="index-chart">
                            <div class="progress-wrap">
                                <div class="progress-pie-chart" data-percent="45">
                                    <div class="ppc-progress">
                                        <div class="ppc-progress-fill"></div>
                                    </div>
                                    <div class="ppc-percent">
                                        <div class="percent-inner-wrap">
                                            <span class="percent-num">%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="personal-progress">
                    <div class="left-content">
                        <div class="top-text">
                            <p>個人の進捗</p>
                        </div>
                        <progress class="p-prog" value="73" max="100">73%</progress>
                        <label class="outp-label"><p><output class="p-outp">73</output>%</p></label>
                    </div>
                    <div class="right-content">
                        <div class="top-text">
                            <p>個人のタスク</p>
                        </div>
                        <div class="bottom-text">
                            <p>フロント開発/企画書作成</p>
                        </div>
                    </div>
                </div> -->
                <div class="members-progresses">
                    <div class="top-text">
                        <p>みんなの進捗</p>
                        <a href="/tasklog-list.html">
                            <p>タスクのログ一覧</p>
                        </a>
                    </div>

                    <!-- <div class="regular slider">
                        <div class="member-wrap">
                            <p class="member-name">田中</p>
                            <p class="task-name">開発サーバーでNginx, puma, rails, nvm, rbenvの設定</p>
                            <progress class="p-prog" value="73" max="100">73%</progress>
                            <label class="outp-label"><p><output class="p-outp">73</output>%</p></label>
                        </div>
                    </div>

                    <div class="regular slider">
                        <div class="member-wrap">
                            <p class="member-name">田中</p>
                            <p class="task-name">開発サーバーでNginx, puma, rails, nvm, rbenvの設定</p>
                            <progress class="p-prog" value="73" max="100">73%</progress>
                            <label class="outp-label"><p><output class="p-outp">73</output>%</p></label>
                        </div>
                    </div> -->

                    <div class="p-wraps">
                        <div class="member-wrap help">
                            <div class="top-content">
                                <div class="img-wrap">
                                    <img src="img/sely-large.png" alt="sely">
                                </div>
                                <p class="member-name">田中</p>
                            </div>
                            <div class="task-name">
                                <p>開発サーバーでNginx, puma, rails, nvm, rbenvの設定</p>
                            </div>
                        </div>
                        <div class="member-wrap">
                            <div class="top-content">
                                <div class="img-wrap">
                                    <img src="img/sely-large.png" alt="sely">
                                </div>
                                <p class="member-name">田中</p>
                            </div>
                            <div class="task-name">
                                <p>開発サーバーでNginx, puma, rails, nvm, rbenvの設定</p>
                            </div>
                        </div>
                        <div class="member-wrap">
                            <div class="top-content">
                                <div class="img-wrap">
                                    <img src="img/sely-large.png" alt="sely">
                                </div>
                                <p class="member-name">田中</p>
                            </div>
                            <div class="task-name">
                                <p>開発サーバーでNginx, puma, rails, nvm, rbenvの設定</p>
                            </div>
                        </div>
                        <div class="member-wrap">
                            <div class="top-content">
                                <div class="img-wrap">
                                    <img src="img/sely-large.png" alt="sely">
                                </div>
                                <p class="member-name">田中</p>
                            </div>
                            <div class="task-name">
                                <p>開発サーバーでNginx, puma, rails, nvm, rbenvの設定</p>
                            </div>
                        </div>
                        <div class="member-wrap">
                            <div class="top-content">
                                <div class="img-wrap">
                                    <img src="img/sely-large.png" alt="sely">
                                </div>
                                <p class="member-name">田中</p>
                            </div>
                            <div class="task-name">
                                <p>開発サーバーでNginx, puma, rails, nvm, rbenvの設定</p>
                            </div>
                        </div>
                        <div class="member-wrap">
                            <div class="top-content">
                                <div class="img-wrap">
                                    <img src="img/sely-large.png" alt="sely">
                                </div>
                                <p class="member-name">田中</p>
                            </div>
                            <div class="task-name">
                                <p>開発サーバーでNginx, puma, rails, nvm, rbenvの設定</p>
                            </div>
                        </div>
                        <div class="member-wrap">
                            <div class="top-content">
                                <div class="img-wrap">
                                    <img src="img/sely-large.png" alt="sely">
                                </div>
                                <p class="member-name">田中</p>
                            </div>
                            <div class="task-name">
                                <p>開発サーバーでNginx, puma, rails, nvm, rbenvの設定</p>
                            </div>
                        </div>
                        <div class="member-wrap">
                            <div class="top-content">
                                <div class="img-wrap">
                                    <img src="img/sely-large.png" alt="sely">
                                </div>
                                <p class="member-name">田中</p>
                            </div>
                            <div class="task-name">
                                <p>開発サーバーでNginx, puma, rails, nvm, rbenvの設定</p>
                            </div>
                        </div>
                        <div class="member-wrap">
                            <div class="top-content">
                                <div class="img-wrap">
                                    <img src="img/sely-large.png" alt="sely">
                                </div>
                                <p class="member-name">田中</p>
                            </div>
                            <div class="task-name">
                                <p>開発サーバーでNginx, puma, rails, nvm, rbenvの設定</p>
                            </div>
                        </div>
                        <div class="member-wrap">
                            <div class="top-content">
                                <div class="img-wrap">
                                    <img src="img/sely-large.png" alt="sely">
                                </div>
                                <p class="member-name">田中</p>
                            </div>
                            <div class="task-name">
                                <p>開発サーバーでNginx, puma, rails, nvm, rbenvの設定</p>
                            </div>
                        </div>
                        <div class="member-wrap">
                            <div class="top-content">
                                <div class="img-wrap">
                                    <img src="img/sely-large.png" alt="sely">
                                </div>
                                <p class="member-name">田中</p>
                            </div>
                            <div class="task-name">
                                <p>開発サーバーでNginx, puma, rails, nvm, rbenvの設定</p>
                            </div>
                        </div>
                        <div class="member-wrap">
                            <div class="top-content">
                                <div class="img-wrap">
                                    <img src="img/sely-large.png" alt="sely">
                                </div>
                                <p class="member-name">田中</p>
                            </div>
                            <div class="task-name">
                                <p>開発サーバーでNginx, puma, rails, nvm, rbenvの設定</p>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- <div class="reorg">
                    <div class="left-content">
                        <div class="top-text">
                            <p>チェックイン会議</p>
                        </div>
                        <div class="bottom-text">
                            <p>DAOに関する資料を集める</p>
                        </div>
                    </div>
                    <div class="right-content">
                        <div class="top-text">
                            <p>ウィンセッション</p>
                        </div>
                        <div class="bottom-text">
                            <p>進捗はみんな進んでいる</p>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>