<div id="pt-inner-content">
    <div class="top-nav-border-wrap">
        <div class="top-nav-border"></div>
    </div>
    <div class="right-content">
        <div class="top-text-box">
            <p>個人タスク管理</p>
        </div>
        <div class="inner-wrap">
            <div class="top-content">
                <div id="gm-list-wrap">
                    <div class="top-text">
                        <p>ゴールマネージャーリスト一覧</p>
                    </div>
                    <div class="index-wrap">
                        <div class="top-text">
                            <p class="index-name">KGI</p>
                            <p class="index-detail">テキストテキストテキストテキスト</p>
                        </div>
                        <div class="progress-wrap">
                            <progress class="prog" value="73" max="100">73%</progress>
                            <label class="outp-label"><p><output class="outp">73</output>%</p></label>
                        </div>
                    </div>
                    <div class="border-bottom"></div>
                    <div class="index-wrap">
                        <div class="top-text">
                            <p class="index-name">KSF</p>
                            <p class="index-detail">テキストテキストテキストテキスト</p>
                        </div>
                        <div class="progress-wrap">
                            <progress class="prog" value="73" max="100">73%</progress>
                            <label class="outp-label"><p><output class="outp">73</output>%</p></label>
                        </div>
                    </div>
                    <div class="border-bottom"></div>
                    <div class="index-wrap">
                        <div class="top-text">
                            <p class="index-name">KPI</p>
                            <p class="index-detail">テキストテキストテキストテキスト</p>
                        </div>
                        <div class="progress-wrap">
                            <progress class="prog" value="73" max="100">73%</progress>
                            <label class="outp-label"><p><output class="outp">73</output>%</p></label>
                        </div>
                    </div>
                    <div class="border-bottom"></div>
                </div>
                <div id="todays-task-wrap" class="regular slider">
                    <div class="slider-wrap">
                        <div class="date-wrap">
                            <div class="left-swipe"></div>
                            <div class="date">6日</div>
                            <div class="right-swipe"></div>
                        </div>
                        <div class="tasks-list-wrap">
                            <div class="task-unit">
                                <p class="task-text">本番サーバーでNginx, puma, rails, nvm, rbenvの設定本番サーバーでNginx, puma, rails, nvm, rbenvの設定本番サーバーでNginx, puma, rails, nvm, rbenvの設定</p>
                                <div class="pt-hover-content">
                                    <div class="hover-inner-wrap">
                                        <form action="#" method="POST">
                                            <select name="pt-task-state" class="pt-task-state">
                                                <option value="未対応">未対応</option>
                                                <option value="進行中">進行中</option>
                                                <option value="完了">完了</option>
                                            </select>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="task-unit">
                                <p class="task-text">本番サーバーでNginx, puma, rails, nvm, rbenvの設定</p>
                                <div class="pt-hover-content">
                                    <div class="hover-inner-wrap">
                                        <form action="#" method="POST">
                                            <select name="pt-task-state" class="pt-task-state">
                                                <option value="未対応">未対応</option>
                                                <option value="進行中">進行中</option>
                                                <option value="完了">完了</option>
                                            </select>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="task-unit">
                                <p class="task-text">本番サーバーでNginx, puma, rails, nvm, rbenvの設定</p>
                                <div class="pt-hover-content">
                                    <div class="hover-inner-wrap">
                                        <form action="#" method="POST">
                                            <select name="pt-task-state" class="pt-task-state">
                                                <option value="未対応">未対応</option>
                                                <option value="進行中">進行中</option>
                                                <option value="完了">完了</option>
                                            </select>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="task-unit">
                                <p class="task-text">本番サーバーでNginx, puma, rails, nvm, rbenvの設定</p>
                                <div class="pt-hover-content">
                                    <div class="hover-inner-wrap">
                                        <form action="#" method="POST">
                                            <select name="pt-task-state" class="pt-task-state">
                                                <option value="未対応">未対応</option>
                                                <option value="進行中">進行中</option>
                                                <option value="完了">完了</option>
                                            </select>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="task-unit">
                                <p class="task-text">本番サーバーでNginx, puma, rails, nvm, rbenvの設定</p>
                                <div class="pt-hover-content">
                                    <div class="hover-inner-wrap">
                                        <form action="#" method="POST">
                                            <select name="pt-task-state" class="pt-task-state">
                                                <option value="未対応">未対応</option>
                                                <option value="進行中">進行中</option>
                                                <option value="完了">完了</option>
                                            </select>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="task-unit">
                                <p class="task-text">本番サーバーでNginx, puma, rails, nvm, rbenvの設定</p>
                                <div class="pt-hover-content">
                                    <div class="hover-inner-wrap">
                                        <form action="#" method="POST">
                                            <select name="pt-task-state" class="pt-task-state">
                                                <option value="未対応">未対応</option>
                                                <option value="進行中">進行中</option>
                                                <option value="完了">完了</option>
                                            </select>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-wrap">
                        <div class="date-wrap">
                            <div class="left-swipe"></div>
                            <div class="date">6日</div>
                            <div class="right-swipe"></div>
                        </div>
                        <div class="tasks-list-wrap">
                            <div class="task-unit">
                                <p class="task-text">本番サーバーでNginx, puma, rails, nvm, rbenvの設定</p>
                                <div class="pt-hover-content">
                                    <div class="hover-inner-wrap">
                                        <form action="#" method="POST">
                                            <select name="pt-task-state" class="pt-task-state">
                                                <option value="未対応">未対応</option>
                                                <option value="進行中">進行中</option>
                                                <option value="完了">完了</option>
                                            </select>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="task-unit">
                                <p class="task-text">本番サーバーでNginx, puma, rails, nvm, rbenvの設定</p>
                                <div class="pt-hover-content">
                                    <div class="hover-inner-wrap">
                                        <form action="#" method="POST">
                                            <select name="pt-task-state" class="pt-task-state">
                                                <option value="未対応">未対応</option>
                                                <option value="進行中">進行中</option>
                                                <option value="完了">完了</option>
                                            </select>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="task-unit">
                                <p class="task-text">本番サーバーでNginx, puma, rails, nvm, rbenvの設定</p>
                                <div class="pt-hover-content">
                                    <div class="hover-inner-wrap">
                                        <form action="#" method="POST">
                                            <select name="pt-task-state" class="pt-task-state">
                                                <option value="未対応">未対応</option>
                                                <option value="進行中">進行中</option>
                                                <option value="完了">完了</option>
                                            </select>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="task-unit">
                                <p class="task-text">本番サーバーでNginx, puma, rails, nvm, rbenvの設定</p>
                                <div class="pt-hover-content">
                                    <div class="hover-inner-wrap">
                                        <form action="#" method="POST">
                                            <select name="pt-task-state" class="pt-task-state">
                                                <option value="未対応">未対応</option>
                                                <option value="進行中">進行中</option>
                                                <option value="完了">完了</option>
                                            </select>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="task-unit">
                                <p class="task-text">本番サーバーでNginx, puma, rails, nvm, rbenvの設定</p>
                                <div class="pt-hover-content">
                                    <div class="hover-inner-wrap">
                                        <form action="#" method="POST">
                                            <select name="pt-task-state" class="pt-task-state">
                                                <option value="未対応">未対応</option>
                                                <option value="進行中">進行中</option>
                                                <option value="完了">完了</option>
                                            </select>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="task-unit">
                                <p class="task-text">本番サーバーでNginx, puma, rails, nvm, rbenvの設定</p>
                                <div class="pt-hover-content">
                                    <div class="hover-inner-wrap">
                                        <form action="#" method="POST">
                                            <select name="pt-task-state" class="pt-task-state">
                                                <option value="未対応">未対応</option>
                                                <option value="進行中">進行中</option>
                                                <option value="完了">完了</option>
                                            </select>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="memo-wrap">
                    <div class="top-text">
                        <p>本番サーバーでNginx, puma, rails, nvm, rbenvの設定</p>
                    </div>
                    <div class="memo-area">
                        <form action="#">
                            <textarea name="personal-memo" id="personal-memo" cols="30" rows="10"></textarea>
                        </form>
                    </div>
                </div>
            </div>
            <!-- <div id="gantt-chart-wrap">

            </div> -->
            <svg id="gantt"></svg>
        </div>
    </div>
</div>