<div id="rd-inner-content">
    <div class="top-nav-border-wrap">
        <div class="top-nav-border"></div>
    </div>
    <div class="center-content">
        <div class="top-text-box">
            <p>レポート詳細</p>
        </div>
        <div class="inner-wrap">
            <div class="report-detail-wrap">
                <div class="top-dates-wrap">
                    <div class="dates">
                        <p class="dates-num">2020.1.20</p>
                    </div>
                    <div class="time">
                        <p class="time-num">05:06</p>
                    </div>
                </div>
                <div class="report-subject">
                    <p class="report-subject-text">Let's convey our splendor</p>
                </div>
                <div class="bottom-wrap">
                    <div class="tags-wrap">
                        <div class="tag-item">
                            <a href="#">
                                <p>タグ01</p>
                            </a>
                        </div>
                        <div class="tag-item">
                            <a href="#">
                                <p>タグ02</p>
                            </a>
                        </div>
                        <div class="tag-item">
                            <a href="#">
                                <p>タグ03</p>
                            </a>
                        </div>
                    </div>
                    <a href="/report-edit.html">
                        <div id="edit-btn">
                            <p>編集</p>
                        </div>
                    </a>
                </div>
                <div class="report-body">
                    <p>
                        終わりを想像できる人は確かに賢いと思う。そういう人は、変化に敏感になれるし、変化を拒まず素直に受け止めて自分も変化しようと考えることができる人だからだ。<br><br>
                        変化を強引に拒んで保守的になるといろんなところで歪みが生じるものだ。 <br>
                        キャンベルの本でも指摘されているが、神話の英雄に共通するのは、保守的に過去にこだわろうとする存在（たとえば父）を倒す役目を負うという点だ。 <br><br>
                        「なぜなら、神話の英雄は、すでに生まれたもののために戦う戦士ではなく、これから生まれるもののために戦う戦士だからである」とキャンベルは言っている。 <br><br>
                        終わりを想像できる人は確かに賢いと思う。そういう人は、変化に敏感になれるし、変化を拒まず素直に受け止めて自分も変化しようと考えることができる人だからだ。 <br><br>
                        変化を強引に拒んで保守的になるといろんなところで歪みが生じるものだ。 <br>
                        キャンベルの本でも指摘されているが、神話の英雄に共通するのは、保守的に過去にこだわろうとする存在（たとえば父）を倒す役目を負うという点だ。 <br><br>
                        「なぜなら、神話の英雄は、すでに生まれたもののために戦う戦士ではなく、これから生まれるもののために戦う戦士だからである」とキャンベルは言っている。 <br><br>
                        終わりを想像できる人は確かに賢いと思う。そういう人は、変化に敏感になれるし、変化を拒まず素直に受け止めて自分も変化しようと考えることができる人だからだ。 <br><br>
                        変化を強引に拒んで保守的になるといろんなところで歪みが生じるものだ。 <br>
                        キャンベルの本でも指摘されているが、神話の英雄に共通するのは、保守的に過去にこだわろうとする存在（たとえば父）を倒す役目を負うという点だ。 <br><br>
                        「なぜなら、神話の英雄は、すでに生まれたもののために戦う戦士ではなく、これから生まれるもののために戦う戦士だからである」とキャンベルは言っている。
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="right-content">

    </div>
</div>