<div id="re-inner-content">
    <div class="top-nav-border-wrap">
        <div class="top-nav-border"></div>
    </div>
    <div class="center-content">
        <div class="top-text-box">
            <p>レポート編集</p>
        </div>
        <div class="inner-wrap">
            <div class="report-edit-wrap">
                <div class="top-dates-wrap">
                    <div class="dates">
                        <p class="dates-num">2020.1.20</p>
                    </div>
                    <div class="time">
                        <p class="time-num">05:06</p>
                    </div>
                </div>
                <div class="report-subject">
                    <p class="report-subject-text">Let's convey our splendor</p>
                </div>
                <form action="#" method="POST">
                    <textarea name="report-body" id="report-body" cols="30" rows="10"></textarea>
                    <div class="add-tags-wrap">
                        <p>タグを追加する</p>
                        <input type="text" name="add-tags" id="add-tags" placeholder="タグ01">
                        <div id="add-btn">追加</div>
                        <div id="save-btn">保存</div>
                    </div>
                </form>

                <div class="tags-wrap">
                    <div class="tag-item">
                        <a href="#">
                            <p>タグ01</p>
                        </a>
                    </div>
                    <div class="tag-item">
                        <a href="#">
                            <p>タグ02</p>
                        </a>
                    </div>
                    <div class="tag-item">
                        <a href="#">
                            <p>タグ03</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-content">

    </div>
</div>