<div id="rl-inner-content">
    <div class="top-nav-border-wrap">
        <div class="top-nav-border"></div>
    </div>
    <div class="center-content">
        <div class="top-text-box">
            <p>レポート一覧</p>
        </div>
        <div class="inner-wrap">
            <div class="date-border">
                <img src="img/date-border.png" alt="date border">
                <p class="date">1月18日</p>
                <img src="img/date-border.png" alt="date border">
            </div>
            <div class="report-wrap">
                <div class="top-wrap">
                    <div class="report-subject">
                        <p class="report-subject-text">Let's convey our splendor</p>
                    </div>
                    <div class="report-date">
                        <p class="report-num">05:06</p>
                    </div>
                </div>
                <div class="argument">
                    <p>終わりを想像できる人は確かに賢いと思う。そういう人は、変化に敏感になれるし、変化を拒まず素直に受け止めて自分も変化しようと考えることができる人だからだ。</p>
                </div>
                <div class="tags-wrap">
                    <div class="tag-item">
                        <a href="#">
                            <p>タグ01</p>
                        </a>
                    </div>
                    <div class="tag-item">
                        <a href="#">
                            <p>タグ02</p>
                        </a>
                    </div>
                    <div class="tag-item">
                        <a href="#">
                            <p>タグ03</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="report-wrap">
                <div class="top-wrap">
                    <div class="report-subject">
                        <p class="report-subject-text">Let's convey our splendor</p>
                    </div>
                    <div class="report-date">
                        <p class="report-num">05:06</p>
                    </div>
                </div>
                <div class="argument">
                    <p>終わりを想像できる人は確かに賢いと思う。そういう人は、変化に敏感になれるし、変化を拒まず素直に受け止めて自分も変化しようと考えることができる人だからだ。</p>
                </div>
                <div class="tags-wrap">
                    <div class="tag-item">
                        <a href="#">
                            <p>タグ01</p>
                        </a>
                    </div>
                    <div class="tag-item">
                        <a href="#">
                            <p>タグ02</p>
                        </a>
                    </div>
                    <div class="tag-item">
                        <a href="#">
                            <p>タグ03</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="report-wrap">
                <div class="top-wrap">
                    <div class="report-subject">
                        <p class="report-subject-text">Let's convey our splendor</p>
                    </div>
                    <div class="report-date">
                        <p class="report-num">05:06</p>
                    </div>
                </div>
                <div class="argument">
                    <p>終わりを想像できる人は確かに賢いと思う。そういう人は、変化に敏感になれるし、変化を拒まず素直に受け止めて自分も変化しようと考えることができる人だからだ。</p>
                </div>
                <div class="tags-wrap">
                    <div class="tag-item">
                        <a href="#">
                            <p>タグ01</p>
                        </a>
                    </div>
                    <div class="tag-item">
                        <a href="#">
                            <p>タグ02</p>
                        </a>
                    </div>
                    <div class="tag-item">
                        <a href="#">
                            <p>タグ03</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="inner-wrap" style="padding-bottom: 10%;">
            <div class="date-border">
                <img src="img/date-border.png" alt="date border">
                <p class="date">1月18日</p>
                <img src="img/date-border.png" alt="date border">
            </div>
            <div class="report-wrap">
                <div class="top-wrap">
                    <div class="report-subject">
                        <p class="report-subject-text">Let's convey our splendor</p>
                    </div>
                    <div class="report-date">
                        <p class="report-num">05:06</p>
                    </div>
                </div>
                <div class="argument">
                    <p>終わりを想像できる人は確かに賢いと思う。そういう人は、変化に敏感になれるし、変化を拒まず素直に受け止めて自分も変化しようと考えることができる人だからだ。</p>
                </div>
                <div class="tags-wrap">
                    <div class="tag-item">
                        <a href="#">
                            <p>タグ01</p>
                        </a>
                    </div>
                    <div class="tag-item">
                        <a href="#">
                            <p>タグ02</p>
                        </a>
                    </div>
                    <div class="tag-item">
                        <a href="#">
                            <p>タグ03</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="inner-wrap"></div>
        <div class="inner-wrap"></div>
        <div class="inner-wrap"></div>
        <div class="inner-wrap"></div>
    </div>
    <div class="right-content">
        <div id="calendar"></div>
    </div>
</div>