<div id="tl-inner-content">
    <div class="top-nav-border-wrap">
        <div class="top-nav-border"></div>
    </div>
    <div class="right-content">
        <div class="top-text-box">
            <p>タスク一覧</p>
            <div class="business-unit-topics">
                <div class="topic-wrap">
                    <div class="business-unit-mark">
                        <div class="green">
                            <div class="green-inner"></div>
                        </div>
                    </div>
                    <div class="business-unit-name">
                        <p>開発関連</p>
                    </div>
                </div>
                <div class="topic-wrap">
                    <div class="business-unit-mark">
                        <div class="skyblue">
                            <div class="skyblue-inner"></div>
                        </div>
                    </div>
                    <div class="business-unit-name">
                        <p>営業関連</p>
                    </div>
                </div>
                <div class="topic-wrap">
                    <div class="business-unit-mark">
                        <div class="red">
                            <div class="red-inner"></div>
                        </div>
                    </div>
                    <div class="business-unit-name">
                        <p>バックオフィス</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="inner-wrap">
            <div id="tl-inner-wrap">
                <div class="task-wrap">
                    <div class="top-content">
                        <p class="tl-task-name">投資先と打ち合わせ</p>
                        <div class="business-unit-mark">
                            <div class="red">
                                <div class="red-inner"></div>
                            </div>
                        </div>
                    </div>
                    <div class="task-detail-wrap">
                        <p class="detail-text">タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。</p>
                    </div>
                    <!-- <div class="task-hover-wrap">
                        <p class="tl-edit-btn">編集する</p>
                        <p class="tl-delete-btn">削除する</p>
                    </div> -->
                </div>
                <div class="task-wrap">
                    <div class="top-content">
                        <p class="tl-task-name">投資先と打ち合わせ</p>
                        <div class="business-unit-mark">
                            <div class="green">
                                <div class="green-inner"></div>
                            </div>
                        </div>
                    </div>
                    <div class="task-detail-wrap">
                        <p class="detail-text">タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。</p>
                    </div>
                    <!-- <div class="task-hover-wrap">
                        <p class="tl-edit-btn">編集する</p>
                        <p class="tl-delete-btn">削除する</p>
                    </div> -->
                </div>
                <div class="task-wrap">
                    <div class="top-content">
                        <p class="tl-task-name">投資先と打ち合わせ</p>
                        <div class="business-unit-mark">
                            <div class="skyblue">
                                <div class="skyblue-inner"></div>
                            </div>
                        </div>
                    </div>
                    <div class="task-detail-wrap">
                        <p class="detail-text">タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。</p>
                    </div>
                    <!-- <div class="task-hover-wrap">
                        <p class="tl-edit-btn">編集する</p>
                        <p class="tl-delete-btn">削除する</p>
                    </div> -->
                </div>
                <div class="task-wrap">
                    <div class="top-content">
                        <p class="tl-task-name">投資先と打ち合わせ</p>
                        <div class="business-unit-mark">
                            <div class="red">
                                <div class="red-inner"></div>
                            </div>
                        </div>
                    </div>
                    <div class="task-detail-wrap">
                        <p class="detail-text">タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。</p>
                    </div>
                    <!-- <div class="task-hover-wrap">
                        <p class="tl-edit-btn">編集する</p>
                        <p class="tl-delete-btn">削除する</p>
                    </div> -->
                </div>
                <div class="task-wrap">
                    <div class="top-content">
                        <p class="tl-task-name">投資先と打ち合わせ</p>
                        <div class="business-unit-mark">
                            <div class="green">
                                <div class="green-inner"></div>
                            </div>
                        </div>
                    </div>
                    <div class="task-detail-wrap">
                        <p class="detail-text">タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。</p>
                    </div>
                    <!-- <div class="task-hover-wrap">
                        <p class="tl-edit-btn">編集する</p>
                        <p class="tl-delete-btn">削除する</p>
                    </div> -->
                </div>
                <div class="task-wrap">
                    <div class="top-content">
                        <p class="tl-task-name">投資先と打ち合わせ</p>
                        <div class="business-unit-mark">
                            <div class="skyblue">
                                <div class="skyblue-inner"></div>
                            </div>
                        </div>
                    </div>
                    <div class="task-detail-wrap">
                        <p class="detail-text">タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。</p>
                    </div>
                    <!-- <div class="task-hover-wrap">
                        <p class="tl-edit-btn">編集する</p>
                        <p class="tl-delete-btn">削除する</p>
                    </div> -->
                </div>
                <div class="task-wrap">
                    <div class="top-content">
                        <p class="tl-task-name">投資先と打ち合わせ</p>
                        <div class="business-unit-mark">
                            <div class="red">
                                <div class="red-inner"></div>
                            </div>
                        </div>
                    </div>
                    <div class="task-detail-wrap">
                        <p class="detail-text">タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。</p>
                    </div>
                    <!-- <div class="task-hover-wrap">
                        <p class="tl-edit-btn">編集する</p>
                        <p class="tl-delete-btn">削除する</p>
                    </div> -->
                </div>
                <div class="task-wrap">
                    <div class="top-content">
                        <p class="tl-task-name">投資先と打ち合わせ</p>
                        <div class="business-unit-mark">
                            <div class="green">
                                <div class="green-inner"></div>
                            </div>
                        </div>
                    </div>
                    <div class="task-detail-wrap">
                        <p class="detail-text">タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。</p>
                    </div>
                    <!-- <div class="task-hover-wrap">
                        <p class="tl-edit-btn">編集する</p>
                        <p class="tl-delete-btn">削除する</p>
                    </div> -->
                </div>
                <div class="task-wrap">
                    <div class="top-content">
                        <p class="tl-task-name">投資先と打ち合わせ</p>
                        <div class="business-unit-mark">
                            <div class="skyblue">
                                <div class="skyblue-inner"></div>
                            </div>
                        </div>
                    </div>
                    <div class="task-detail-wrap">
                        <p class="detail-text">タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。</p>
                    </div>
                    <!-- <div class="task-hover-wrap">
                        <p class="tl-edit-btn">編集する</p>
                        <p class="tl-delete-btn">削除する</p>
                    </div> -->
                </div>
                <div class="task-wrap">
                    <div class="top-content">
                        <p class="tl-task-name">投資先と打ち合わせ</p>
                        <div class="business-unit-mark">
                            <div class="red">
                                <div class="red-inner"></div>
                            </div>
                        </div>
                    </div>
                    <div class="task-detail-wrap">
                        <p class="detail-text">タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。</p>
                    </div>
                    <!-- <div class="task-hover-wrap">
                        <p class="tl-edit-btn">編集する</p>
                        <p class="tl-delete-btn">削除する</p>
                    </div> -->
                </div>
                <div class="task-wrap">
                    <div class="top-content">
                        <p class="tl-task-name">投資先と打ち合わせ</p>
                        <div class="business-unit-mark">
                            <div class="green">
                                <div class="green-inner"></div>
                            </div>
                        </div>
                    </div>
                    <div class="task-detail-wrap">
                        <p class="detail-text">タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。</p>
                    </div>
                    <!-- <div class="task-hover-wrap">
                        <p class="tl-edit-btn">編集する</p>
                        <p class="tl-delete-btn">削除する</p>
                    </div> -->
                </div>
                <div class="task-wrap">
                    <div class="top-content">
                        <p class="tl-task-name">投資先と打ち合わせ</p>
                        <div class="business-unit-mark">
                            <div class="skyblue">
                                <div class="skyblue-inner"></div>
                            </div>
                        </div>
                    </div>
                    <div class="task-detail-wrap">
                        <p class="detail-text">タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。</p>
                    </div>
                    <!-- <div class="task-hover-wrap">
                        <p class="tl-edit-btn">編集する</p>
                        <p class="tl-delete-btn">削除する</p>
                    </div> -->
                </div>
                <div class="task-wrap">
                    <div class="top-content">
                        <p class="tl-task-name">投資先と打ち合わせ</p>
                        <div class="business-unit-mark">
                            <div class="red">
                                <div class="red-inner"></div>
                            </div>
                        </div>
                    </div>
                    <div class="task-detail-wrap">
                        <p class="detail-text">タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。</p>
                    </div>
                    <!-- <div class="task-hover-wrap">
                        <p class="tl-edit-btn">編集する</p>
                        <p class="tl-delete-btn">削除する</p>
                    </div> -->
                </div>
                <div class="task-wrap">
                    <div class="top-content">
                        <p class="tl-task-name">投資先と打ち合わせ</p>
                        <div class="business-unit-mark">
                            <div class="green">
                                <div class="green-inner"></div>
                            </div>
                        </div>
                    </div>
                    <div class="task-detail-wrap">
                        <p class="detail-text">タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。</p>
                    </div>
                    <!-- <div class="task-hover-wrap">
                        <p class="tl-edit-btn">編集する</p>
                        <p class="tl-delete-btn">削除する</p>
                    </div> -->
                </div>
                <div class="task-wrap">
                    <div class="top-content">
                        <p class="tl-task-name">投資先と打ち合わせ</p>
                        <div class="business-unit-mark">
                            <div class="skyblue">
                                <div class="skyblue-inner"></div>
                            </div>
                        </div>
                    </div>
                    <div class="task-detail-wrap">
                        <p class="detail-text">タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。</p>
                    </div>
                    <!-- <div class="task-hover-wrap">
                        <p class="tl-edit-btn">編集する</p>
                        <p class="tl-delete-btn">削除する</p>
                    </div> -->
                </div>
                <div class="task-wrap">
                    <div class="top-content">
                        <p class="tl-task-name">投資先と打ち合わせ</p>
                        <div class="business-unit-mark">
                            <div class="red">
                                <div class="red-inner"></div>
                            </div>
                        </div>
                    </div>
                    <div class="task-detail-wrap">
                        <p class="detail-text">タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。</p>
                    </div>
                    <!-- <div class="task-hover-wrap">
                        <p class="tl-edit-btn">編集する</p>
                        <p class="tl-delete-btn">削除する</p>
                    </div> -->
                </div>
                <div class="task-wrap">
                    <div class="top-content">
                        <p class="tl-task-name">投資先と打ち合わせ</p>
                        <div class="business-unit-mark">
                            <div class="green">
                                <div class="green-inner"></div>
                            </div>
                        </div>
                    </div>
                    <div class="task-detail-wrap">
                        <p class="detail-text">タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。</p>
                    </div>
                    <!-- <div class="task-hover-wrap">
                        <p class="tl-edit-btn">編集する</p>
                        <p class="tl-delete-btn">削除する</p>
                    </div> -->
                </div>
                <div class="task-wrap">
                    <div class="top-content">
                        <p class="tl-task-name">投資先と打ち合わせ</p>
                        <div class="business-unit-mark">
                            <div class="skyblue">
                                <div class="skyblue-inner"></div>
                            </div>
                        </div>
                    </div>
                    <div class="task-detail-wrap">
                        <p class="detail-text">タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。タスクの詳細が入ります。</p>
                    </div>
                    <!-- <div class="task-hover-wrap">
                        <p class="tl-edit-btn">編集する</p>
                        <p class="tl-delete-btn">削除する</p>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>