<div id="tl-inner-content">
    <div class="top-nav-border-wrap">
        <div class="top-nav-border"></div>
    </div>
    <div class="right-content">
        <div class="top-text-box">
            <p>PROGRESS</p>
        </div>
        <div class="inner-wrap">
            <div id="tl-wrap">
                <div class="top-content">
                    <div class="left-content">
                        <p>タスクのログ一覧</p>
                    </div>
                    <div class="right-content" id="right-menu">
                        <p id="all-log" class="top-current">全てのログ</p>
                        <p id="task-r-log">タスクの登録履歴</p>
                        <p id="complete-list">完了したタスク一覧</p>
                    </div>
                    <select name="right-select" id="right-select">
                        <option value="all-log">全てのログ</option>
                        <option value="task-r-log">タスクの登録履歴</option>
                        <option value="complete-list">完了したタスク一覧</option>
                    </select>
                </div>
                <div class="middle-content">
                    <div class="inner-border"></div>
                    <div class="log-wrap">
                        <div class="left-content">
                            <img src="img/sely-large.png" alt="">
                            <p class="person-name">田中</p>
                        </div>
                        <div class="middle-content">
                            <p>総務全般、会計業務、納税書類のまとめ、提出書類準備総務全般、会計業務、納税書類のまとめ、提出書類準備総務全般、会計業務、納税書類のまとめ、提出書類準備</p>
                        </div>
                        <div class="right-content">
                            <p class="task-date">2020/03/08 13:36</p>
                            <p class="task-state">未対応</p>
                        </div>
                    </div>
                    <div class="inner-border"></div>
                    <div class="log-wrap">
                        <div class="left-content">
                            <img src="img/sely-large.png" alt="">
                            <p class="person-name">田中</p>
                        </div>
                        <div class="middle-content">
                            <p>総務全般、会計業務、納税書類のまとめ、提出書類準備</p>
                        </div>
                        <div class="right-content">
                            <p class="task-date">2020/03/08 13:36</p>
                            <p class="task-state completed">完了</p>
                        </div>
                    </div>
                    <div class="inner-border"></div>
                    <div class="log-wrap">
                        <div class="left-content">
                            <img src="img/sely-large.png" alt="">
                            <p class="person-name">田中</p>
                        </div>
                        <div class="middle-content">
                            <p>総務全般、会計業務、納税書類のまとめ、提出書類準備</p>
                        </div>
                        <div class="right-content">
                            <p class="task-date">2020/03/08 13:36</p>
                            <p class="task-state">未対応</p>
                        </div>
                    </div>
                    <div class="inner-border"></div>
                    <div class="log-wrap">
                        <div class="left-content">
                            <img src="img/sely-large.png" alt="">
                            <p class="person-name">田中</p>
                        </div>
                        <div class="middle-content">
                            <p>総務全般、会計業務、納税書類のまとめ、提出書類準備</p>
                        </div>
                        <div class="right-content">
                            <p class="task-date">2020/03/08 13:36</p>
                            <p class="task-state current">進行中</p>
                        </div>
                    </div>
                    <div class="inner-border"></div>
                    <div class="log-wrap">
                        <div class="left-content">
                            <img src="img/sely-large.png" alt="">
                            <p class="person-name">田中</p>
                        </div>
                        <div class="middle-content">
                            <p>総務全般、会計業務、納税書類のまとめ、提出書類準備</p>
                        </div>
                        <div class="right-content">
                            <p class="task-date">2020/03/08 13:36</p>
                            <p class="task-state current">進行中</p>
                        </div>
                    </div>
                    <div class="inner-border"></div>
                    <div class="log-wrap">
                        <div class="left-content">
                            <img src="img/sely-large.png" alt="">
                            <p class="person-name">田中</p>
                        </div>
                        <div class="middle-content">
                            <p>総務全般、会計業務、納税書類のまとめ、提出書類準備</p>
                        </div>
                        <div class="right-content">
                            <p class="task-date">2020/03/08 13:36</p>
                            <p class="task-state">未対応</p>
                        </div>
                    </div>
                    <div class="inner-border"></div>
                    <div class="log-wrap">
                        <div class="left-content">
                            <img src="img/sely-large.png" alt="">
                            <p class="person-name">田中</p>
                        </div>
                        <div class="middle-content">
                            <p>総務全般、会計業務、納税書類のまとめ、提出書類準備</p>
                        </div>
                        <div class="right-content">
                            <p class="task-date">2020/03/08 13:36</p>
                            <p class="task-state completed">完了</p>
                        </div>
                    </div>
                    <div class="inner-border"></div>
                    <div class="log-wrap">
                        <div class="left-content">
                            <img src="img/sely-large.png" alt="">
                            <p class="person-name">田中</p>
                        </div>
                        <div class="middle-content">
                            <p>総務全般、会計業務、納税書類のまとめ、提出書類準備</p>
                        </div>
                        <div class="right-content">
                            <p class="task-date">2020/03/08 13:36</p>
                            <p class="task-state">未対応</p>
                        </div>
                    </div>
                    <div class="inner-border"></div>
                    <div class="log-wrap">
                        <div class="left-content">
                            <img src="img/sely-large.png" alt="">
                            <p class="person-name">田中</p>
                        </div>
                        <div class="middle-content">
                            <p>総務全般、会計業務、納税書類のまとめ、提出書類準備</p>
                        </div>
                        <div class="right-content">
                            <p class="task-date">2020/03/08 13:36</p>
                            <p class="task-state completed">完了</p>
                        </div>
                    </div>
                    <div class="inner-border"></div>
                    <div class="log-wrap">
                        <div class="left-content">
                            <img src="img/sely-large.png" alt="">
                            <p class="person-name">田中</p>
                        </div>
                        <div class="middle-content">
                            <p>総務全般、会計業務、納税書類のまとめ、提出書類準備</p>
                        </div>
                        <div class="right-content">
                            <p class="task-date">2020/03/08 13:36</p>
                            <p class="task-state">未対応</p>
                        </div>
                    </div>
                    <div class="inner-border"></div>
                    <div class="log-wrap">
                        <div class="left-content">
                            <img src="img/sely-large.png" alt="">
                            <p class="person-name">田中</p>
                        </div>
                        <div class="middle-content">
                            <p>総務全般、会計業務、納税書類のまとめ、提出書類準備</p>
                        </div>
                        <div class="right-content">
                            <p class="task-date">2020/03/08 13:36</p>
                            <p class="task-state">未対応</p>
                        </div>
                    </div>
                    <div class="inner-border"></div>
                    <div class="log-wrap help">
                        <div class="left-content">
                            <img src="img/sely-large.png" alt="">
                            <p class="person-name">田中</p>
                        </div>
                        <div class="middle-content">
                            <p>総務全般、会計業務、納税書類のまとめ、提出書類準備</p>
                        </div>
                        <div class="right-content">
                            <p class="task-date">2020/03/08 13:36</p>
                            <p class="task-state">未対応</p>
                        </div>
                    </div>
                    <div class="inner-border"></div>
                    <div class="log-wrap">
                        <div class="left-content">
                            <img src="img/sely-large.png" alt="">
                            <p class="person-name">田中</p>
                        </div>
                        <div class="middle-content">
                            <p>総務全般、会計業務、納税書類のまとめ、提出書類準備</p>
                        </div>
                        <div class="right-content">
                            <p class="task-date">2020/03/08 13:36</p>
                            <p class="task-state">未対応</p>
                        </div>
                    </div>
                    <div class="inner-border"></div>
                    <div class="log-wrap">
                        <div class="left-content">
                            <img src="img/sely-large.png" alt="">
                            <p class="person-name">田中</p>
                        </div>
                        <div class="middle-content">
                            <p>総務全般、会計業務、納税書類のまとめ、提出書類準備</p>
                        </div>
                        <div class="right-content">
                            <p class="task-date">2020/03/08 13:36</p>
                            <p class="task-state">未対応</p>
                        </div>
                    </div>
                    <div class="inner-border"></div>
                    <div class="log-wrap">
                        <div class="left-content">
                            <img src="img/sely-large.png" alt="">
                            <p class="person-name">田中</p>
                        </div>
                        <div class="middle-content">
                            <p>総務全般、会計業務、納税書類のまとめ、提出書類準備</p>
                        </div>
                        <div class="right-content">
                            <p class="task-date">2020/03/08 13:36</p>
                            <p class="task-state">未対応</p>
                        </div>
                    </div>
                    <div class="inner-border"></div>
                    <div class="log-wrap">
                        <div class="left-content">
                            <img src="img/sely-large.png" alt="">
                            <p class="person-name">田中</p>
                        </div>
                        <div class="middle-content">
                            <p>総務全般、会計業務、納税書類のまとめ、提出書類準備</p>
                        </div>
                        <div class="right-content">
                            <p class="task-date">2020/03/08 13:36</p>
                            <p class="task-state">未対応</p>
                        </div>
                    </div>
                    <div class="inner-border"></div>
                    <div class="log-wrap help">
                        <div class="left-content">
                            <img src="img/sely-large.png" alt="">
                            <p class="person-name">田中</p>
                        </div>
                        <div class="middle-content">
                            <p>総務全般、会計業務、納税書類のまとめ、提出書類準備</p>
                        </div>
                        <div class="right-content">
                            <p class="task-date">2020/03/08 13:36</p>
                            <p class="task-state">未対応</p>
                        </div>
                    </div>
                    <div class="inner-border"></div>
                    <div class="log-wrap">
                        <div class="left-content">
                            <img src="img/sely-large.png" alt="">
                            <p class="person-name">田中</p>
                        </div>
                        <div class="middle-content">
                            <p>総務全般、会計業務、納税書類のまとめ、提出書類準備</p>
                        </div>
                        <div class="right-content">
                            <p class="task-date">2020/03/08 13:36</p>
                            <p class="task-state">未対応</p>
                        </div>
                    </div>
                    <div class="inner-border"></div>
                    <div class="log-wrap">
                        <div class="left-content">
                            <img src="img/sely-large.png" alt="">
                            <p class="person-name">田中</p>
                        </div>
                        <div class="middle-content">
                            <p>総務全般、会計業務、納税書類のまとめ、提出書類準備</p>
                        </div>
                        <div class="right-content">
                            <p class="task-date">2020/03/08 13:36</p>
                            <p class="task-state">未対応</p>
                        </div>
                    </div>
                    <div class="inner-border"></div>
                </div>
                <div class="bottom-content">
                    <a href="/progress.html">
                        <div id="return-btn">
                            <!-- <p class="left-arrow">&larr;</p>
                            <p>戻る</p> -->
                            <img src="img/return-string.png" alt="return string">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>