<div id="u-inner-content">
    <div class="top-nav-border-wrap">
        <div class="top-nav-border"></div>
    </div>
    <div class="right-content">
        <div class="top-text-box">
            <p>ユーザー</p>
        </div>
        <div class="inner-wrap">
            <div id="user-wrap">
                <div class="image-wrap">
                    <img src="img/sely-large.png" alt="user image">
                </div>
                <div class="user-name-wrap">
                    <p class="left-text">ユーザー名</p>
                    <p id="user-name">二階堂 ジュリア</p>
                </div>
                <div class="user-role-wrap">
                    <p class="left-text">役割</p>
                    <p id="user-role">エンジニア</p>
                </div>
                <div class="user-intro-wrap">
                    <p class="left-text">自己紹介</p>
                    <p id="intro-text">DAOを活用した不動産サービスを作っています。 テキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキスト</p>
                </div>
                <div id="user-edit-btn">
                    <p>編集する</p>
                </div>
            </div>
        </div>
    </div>
</div>