<div id="ue-inner-content">
    <div class="top-nav-border-wrap">
        <div class="top-nav-border"></div>
    </div>
    <div class="right-content">
        <div class="top-text-box">
            <p>ユーザー編集</p>
        </div>
        <div class="inner-wrap">
            <div id="user-edit-wrap">
                <form action="#" method="POST">
                    <div class="image-wrap">
                        <input type="file" name="user-image" id="user-image">
                        <label for="user-image">
                            <img src="img/camera.png" alt="upload your image">
                        </label>
                    </div>
                    <div class="user-name-wrap">
                        <label for="user-name-input">
                            <p class="left-text">ユーザー名</p>
                        </label>
                        <input type="text" name="user-name-input" id="user-name-input" placeholder="ユーザー名を入力">
                    </div>
                    <div class="user-role-wrap">
                        <label for="user-role-input">
                            <p class="left-text">役割</p>
                        </label>
                        <input type="text" name="user-role-input" id="user-role-input" placeholder="役割を入力">
                    </div>
                    <div class="user-intro-wrap">
                        <label for="user-intro-input">
                            <p class="left-text">自己紹介</p>
                        </label>
                        <textarea name="user-intro-input" id="user-intro-input" cols="30" rows="10" placeholder="あなたの自己紹介を書きましょう"></textarea>
                    </div>
                    <div id="ue-btn-wrap">
                        <a href="#" onclick="javascript:window.history.back(-1);return false;" style="margin-right: 2%;">
                            <div id="cancel-btn">
                                <p>キャンセル</p>
                            </div>
                        </a>
                        <button type="submit">保存する</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>