<div id="ue-inner-content">
    <div class="top-nav-border-wrap">
        <div class="top-nav-border"></div>
    </div>
    <div class="right-content">
        <div class="top-text-box">
            <p>ユーザー編集</p>
        </div>
        <div class="inner-wrap">
            
        </div>
    </div>
</div>