<div id="v-inner-content">
    <div class="top-text-box">
        <h2>進行中の投票</h2>
    </div>
    <div class="voting-wrap">
        <div class="voting-item">
            <div class="top-text">
                <p>決定事項1</p>
            </div>
            <div class="inner-border"></div>
            <div class="middle-text">
                <p class="voting-title">タイトルタイトル</p>
                <p class="voting-desc">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            </div>
            <div class="bottom-chart">
                <label class="outp-label"><p><output class="outp">43</output>%</p></label>
                <progress class="prog" value="43" max="100">43%</progress>
            </div>
        </div>
        <div class="voting-item">
            <div class="top-text">
                <p>決定事項1</p>
            </div>
            <div class="inner-border"></div>
            <div class="middle-text">
                <p class="voting-title">タイトルタイトル</p>
                <p class="voting-desc">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            </div>
            <div class="bottom-chart">
                <label class="outp-label"><p><output class="outp">43</output>%</p></label>
                <progress class="prog" value="43" max="100">43%</progress>
            </div>
        </div>
    </div>
    <div class="voting-wrap">
        <div class="voting-item">
            <div class="top-text">
                <p>決定事項1</p>
            </div>
            <div class="inner-border"></div>
            <div class="middle-text">
                <p class="voting-title">タイトルタイトル</p>
                <p class="voting-desc">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            </div>
            <div class="bottom-chart">
                <label class="outp-label"><p><output class="outp">43</output>%</p></label>
                <progress class="prog" value="43" max="100">43%</progress>
            </div>
        </div>
        <div class="voting-item-none">
            <div class="img-wrap">
                <img src="img/plus.png" alt="plus" id="plus-img">
            </div>
        </div>
    </div>
    <div id="help-btn">
        <div class="img-wrap">
            <img src="img/help.png" alt="help">
        </div>
    </div>
</div>