@charset "UTF-8";

body {
  margin: 0;
  overflow-y: hidden;
}

html, body, .contents {
  height: 100%;
}

textarea:focus, input:focus {
  outline: none;
}

*:focus {
  outline: none;
}

#left-menu {
  width: 17%;
  height: 100%;
  background: #222626;
}

#left-menu .top {
  height: 6%;
  position: relative;
}

#left-menu .top .img-wrap {
  position: absolute;
  top: 10px;
  left: 18px;
}

#left-menu .top .img-wrap #left-menu-logo {
  width: 36px;
  height: 30px;
}

#left-menu .top .toggle-menu {
  width: 28px;
  position: absolute;
  top: 15px;
  right: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

#left-menu .top .toggle-menu span {
  display: block;
  width: 100%;
  height: 1px;
  background: #9ea5a5;
  margin-bottom: 6px;
  border-radius: 3px;
}

#left-menu .top:after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 24px;
  margin: 0 auto;
  width: 83%;
  border-bottom: 1px solid #414444;
}

#left-menu #profile {
  text-align: center;
  padding-top: 29%;
}

#left-menu #profile .img-wrap #profile-img {
  width: 100px;
  height: 100px;
}

#left-menu #profile .text-box .p-text-large {
  color: #fff;
  font-size: 16px;
}

#left-menu #profile .text-box .p-text-small {
  color: #fff;
  font-size: 12px;
}

#left-menu #left-menu-item {
  margin-top: 20%;
}

#left-menu #left-menu-item .item-wrap {
  position: relative;
}

#left-menu #left-menu-item .item-wrap .img-wrap {
  position: absolute;
  left: 24%;
}

#left-menu #left-menu-item .item-wrap p {
  margin-left: 39%;
  margin-bottom: 10%;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #9EA5A5;
}

@media screen and (max-width: 1250px) {
  #left-menu {
    width: 27%;
  }
}

@media screen and (max-width: 780px) {
  #left-menu {
    width: 34%;
  }
  #left-menu #left-menu--item .item-wrap p {
    font-size: 12px;
  }
}

#top-nav {
  position: fixed;
  top: 0;
  margin-left: 17%;
  width: 83%;
}

#top-nav #nav-wrap {
  position: relative;
}

#top-nav #nav-wrap #search-wrap {
  position: absolute;
  top: 24px;
  left: 24px;
  display: -webkit-box;
  display: flex;
}

#top-nav #nav-wrap #search-wrap #search-btn .img-wrap #search-img {
  position: static;
}

#top-nav #nav-wrap #search-wrap #search-input {
  border: none;
  position: absolute;
  top: -2px;
  left: 20px;
}

#top-nav #nav-wrap #search-wrap #search-input::-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #ccc;
}

#top-nav #nav-wrap #search-wrap #search-input::-moz-placeholder {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #ccc;
}

#top-nav #nav-wrap #search-wrap #search-input:-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #ccc;
}

#top-nav #nav-wrap #search-wrap #search-input::-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #ccc;
}

#top-nav #nav-wrap #search-wrap #search-input::placeholder {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #ccc;
}

#top-nav #nav-wrap #select-btn {
  position: absolute;
  top: 18px;
  right: 134px;
  display: -webkit-box;
  display: flex;
}

#top-nav #nav-wrap #select-btn .img-wrap {
  margin-right: 6px;
}

#top-nav #nav-wrap #select-btn #projects {
  background: rgba(0, 0, 0, 0);
  border: none;
  color: #a5aaaa;
  margin-bottom: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#top-nav #nav-wrap #select-btn .img-wrap-bottom {
  margin-top: 9px;
  margin-left: 10px;
}

#top-nav #nav-wrap #top-nav-right {
  border-left: 1px solid #ebeded;
  position: absolute;
  top: 21px;
  right: 25px;
  display: -webkit-box;
  display: flex;
}

#top-nav #nav-wrap #top-nav-right #setting {
  margin-right: 15px;
  margin-left: 15px;
}

@media screen and (max-width: 1250px) {
  #top-nav #nav-wrap #search-wrap {
    left: 145px;
  }
}

@media screen and (max-width: 1000px) {
  #top-nav #nav-wrap #serach-wrap {
    left: 110px;
  }
}

@media screen and (max-width: 780px) {
  #top-nav #nav-wrap #serach-wrap {
    left: 145px;
  }
  #top-nav #nav-wrap #serach-wrap #serach-input {
    width: 110px;
  }
}
/*# sourceMappingURL=maps/main.css.map */
