#gme-inner-content {
    overflow-y: scroll;
    position: absolute;
    // top: 67px;
    top: 52px;
    left: 17%;
    width: 83%;
    height: 100%;
    background: #e5e5e5;
    transition: .6s;
    .top-nav-border-wrap {
        width: 100%;
        .top-nav-border {
            box-shadow: 0px 3px 7px rgba(166, 182, 182, 0.2);
            height: 2px;
        }
    }
    .right-content {
        .top-text-box {
            p {
                font-family: $base-font-family;
                font-weight: 300;
                font-size: 24px;
                line-height: 35px;
                letter-spacing: 0.03em;
                color: #3d4444;
                margin-left: 3%;
            }
        }
        .inner-wrap {
            padding-bottom: 9%;
            textarea {
                padding: 10px 0 10px 10px;
                width: 100%;
                background: #fcfcfc;
                border: 1px solid #eee;
                box-sizing: border-box;
                border-radius: 5px;
            }
            .tooltip {
                display: none;
            }
            #gme-inner-wrap {
                display: flex;
                justify-content: space-evenly;
                background: #fff;
                box-shadow: 0px 0px 14px rgba(166, 182, 182, 0.3);
                border-radius: 5px;
                margin: 0 3.5%;
                padding-bottom: 100px;
                position: relative;
                #m-kgi-wrap {
                    // width: 90%;
                    width: 28.3%; 
                    width: -webkit-calc(-webkit-calc(100% / 3) - 5%);
                    width: calc(calc(100% / 3) - 5%);
                    // margin: 0 auto;
                    padding: 20px;
                    .top-text {
                        margin-bottom: 14px;
                        .index-name {
                            font-family: $base-font-family;
                            font-weight: bold;
                            font-size: 16px;
                            line-height: 18px;
                            letter-spacing: 0.05em;
                            color: #9ea5a5;
                        }
                        .gme-index-detail {
                            background: #fcfcfc;
                            border: 1px solid #eee;
                            box-sizing: border-box;
                            border-radius: 5px;
                            font-family: $base-font-family;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 24px;
                            letter-spacing: 0.05em;
                            color: #3d4444;
                            height: 80px;
                        }
                    }
                    .gme-index-body {
                        background: #fcfcfc;
                        border: 1px solid #eee;
                        box-sizing: border-box;
                        border-radius: 5px;
                        font-family: $base-font-family;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 20px;
                        letter-spacing: 0.05em;
                        color: #3d4444;
                        height: 200px;
                    }
                    .time-period-wrap {
                        .top-text {
                            p {
                                font-family: $base-font-family;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 14px;
                                line-height: 21px;
                                /* identical to box height, or 150% */
                                letter-spacing: 0.05em;
                                color: #9ea5a5;
                            }
                        }
                        #daterange-wrap {
                            background: #eaeeee;
                            border-radius: 3px;
                            padding: 5px;
                            img {
                                display: inline-block;
                                vertical-align: middle;
                                margin-top: -5px;
                            }
                            #gm-range {
                                display: inline-block;
                                background: #fcfcfc;
                                border: 1px solid #EEEEEE;
                                box-sizing: border-box;
                                border-radius: 5px;
                                padding: 5px;
                                font-family: $base-font-family;
                                font-weight: normal;
                                font-size: 14px;
                                line-height: 21px;
                                letter-spacing: 0.05em;
                                color: #3d4444;
                                width: 90%;
                                // &::before {
                                //     content: url(../img/calendar.png);
                                // }
                            }
                        }
                    }
                    .sp-bottom-content {
                        display: none;
                        position: absolute;
                        // right: 0;
                        // right: -3%;
                        // bottom: -79%;
                        // left: 0;
                        bottom: 3%;
                        .gme-save-btn {
                            width: 150px;
                            height: 40px;
                            background: #98a9a8;
                            border-radius: 5px;
                            cursor: pointer;
                            p {
                                font-family: $base-font-family;
                                font-weight: normal;
                                font-size: 14px;
                                line-height: 170%;
                                text-align: center;
                                letter-spacing: 0.04em;
                                color: #fff;
                                padding-top: 8px;
                            }
                        }
                    }
                }
                #m-ksf-wrap {   
                    // width: 90%;
                    width: 28.3%; 
                    width: -webkit-calc(-webkit-calc(100% / 3) - 5%) ;
                    width: calc(calc(100% / 3) - 5%) ;
                    // margin: 0 auto;
                    position: relative;
                    padding: 20px;
                    .top-text {
                        .index-name {
                            font-family: $base-font-family;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 24px;
                            letter-spacing: 0.05em;
                            color: #9ea5a5;
                            margin-bottom: 10px;
                        }
                        .gme-index-detail {
                            // font-family: $base-font-family;
                            // font-weight: bold;
                            // font-size: 14px;
                            // line-height: 21px;
                            // letter-spacing: 0.05em;
                            // color: #3d4444;
                            // height: 80px;
                            background: #fcfcfc;
                            border: 1px solid #eee;
                            box-sizing: border-box;
                            border-radius: 5px;
                            font-family: $base-font-family;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 24px;
                            letter-spacing: 0.05em;
                            color: #3d4444;
                            height: 80px;
                        }
                    }
                    .under-top-content {
                        .ksf-inner-wrap {
                            .top-text {
                                p {
                                    font-family: $base-font-family;
                                    font-weight: 600;
                                    font-size: 14px;
                                    line-height: 21px;
                                    letter-spacing: 0.05em;
                                    color: #9ea5a5;
                                }
                            }
                            .gme-ksf-title {
                                font-family: $base-font-family;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 14px;
                                line-height: 21px;
                                letter-spacing: 0.05em;
                                color: #3d4444;
                                height: 30px;
                                margin-bottom: 6px;
                                width: 96%;
                                margin: 0 12px;
                                padding: 5px;
                            }
                            .gme-ksf-body {
                                font-family: $base-font-family;
                                font-weight: normal;
                                font-size: 12px;
                                line-height: 21px;
                                letter-spacing: 0.05em;
                                color: #3d4444;
                                margin: 12px;
                                height: 100px;
                                width: 96%;
                            }
                        }
                    }
                    .sp-bottom-content {
                        display: none;
                        position: absolute;
                        // right: 0;
                        // right: -3%;
                        // bottom: -79%;
                        // left: 0;
                        bottom: 3%;
                        .gme-save-btn {
                            width: 150px;
                            height: 40px;
                            background: #98a9a8;
                            border-radius: 5px;
                            cursor: pointer;
                            p {
                                font-family: $base-font-family;
                                font-weight: normal;
                                font-size: 14px;
                                line-height: 170%;
                                text-align: center;
                                letter-spacing: 0.04em;
                                color: #fff;
                                padding-top: 8px;
                            }
                        }
                    }
                }
                #m-kpi-wrap {
                    // width: 90%;
                    width: 28.3%; 
                    width: -webkit-calc(-webkit-calc(100% / 3) - 5%) ;
                    width: calc(calc(100% / 3) - 5%) ;
                    // margin: 0 auto;
                    padding: 20px;
                    // padding-bottom: 100px;
                    .top-text {
                        margin-bottom: 14px;
                        .index-name {
                            font-family: $base-font-family;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 24px;
                            letter-spacing: 0.05em;
                            color: #9ea5a5;
                            margin-bottom: 10px;
                        }
                        .gme-index-detail {
                            // font-family: $base-font-family;
                            // font-style: normal;
                            // font-weight: bold;
                            // font-size: 14px;
                            // line-height: 21px;
                            // letter-spacing: 0.05em;
                            // color: #3d4444;
                            // height: 80px;
                            background: #fcfcfc;
                            border: 1px solid #eee;
                            box-sizing: border-box;
                            border-radius: 5px;
                            font-family: $base-font-family;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 24px;
                            letter-spacing: 0.05em;
                            color: #3d4444;
                            height: 80px;
                        }
                    }
                    .under-top-content {
                        // margin-left: 6px;
                        .kpi-inner-wrap {
                            .select-wrap {
                                position: relative;
                                .ksf-select {
                                    background: #fff;
                                    border-radius: 3px;
                                    font-family: $base-font-family;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 14px;
                                    line-height: 21px;
                                    letter-spacing: 0.05em;
                                    // color: #9ea5a5;
                                    color: #3d4444;
                                    width: 80px;
                                    height: 30px;
                                    border-color: rgba(0, 0, 0, 0.1);
                                    padding-left: 16px;
                                    -webkit-appearance: none;
                                    -moz-appearance: none;
                                    appearance: none;
                                    cursor: pointer;
                                    // margin-bottom: 6px;
                                    // width: 96%;
                                    // margin: 0 12px;
                                    width: 100%;
                                    option {
                                        border-color: rgba(0, 0, 0, 0.1);
                                        font-family: $base-font-family;
                                        font-style: normal;
                                        font-weight: normal;
                                        font-size: 12px;
                                        line-height: 170%;
                                        letter-spacing: 0.04em;
                                        color: #444;
                                        opacity: 0.8;
                                    }
                                }
                            }
                            .select-wrap::after {
                                content: '';
                                width: 6px;
                                height: 6px;
                                border: 0px;
                                border-bottom: solid 1px #949898;
                                border-right: solid 1px #949898;
                                -ms-transform: rotate(45deg);
                                -webkit-transform: rotate(45deg);
                                transform: rotate(45deg);
                                position: absolute;
                                top: 41%;
                                // right: 14%;
                                right: 5%;
                                margin-top: -4px;
                            }
                            input[type="range"] {
                                -webkit-appearance: none;
                                appearance: none;
                                background-color: #7ad2cc;
                                height: 9px;
                                width: 343px;
                                border-radius: 6px;
                                
                                &:focus,
                                &:active {
                                    outline: none;
                                }
                                
                                &::-webkit-slider-thumb {
                                    -webkit-appearance: none;
                                    appearance: none;
                                    cursor: pointer;
                                    position: relative;
                                    border: 1px solid rgba(0, 0, 0, .4);
                                    width: 22px;
                                    height: 22px;
                                    display: block;
                                    background-color: #fff;
                                    border-radius: 50%;
                                    -webkit-border-radius: 50%;
                                }
                                
                                &:active::-webkit-slider-thumb {
                                    box-shadow: 0 0 0 4px rgba(255, 255, 255, .6);
                                    transition: .4s;
                                }
                            }
                            .gme-kpi-title {
                                font-family: $base-font-family;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 14px;
                                line-height: 21px;
                                letter-spacing: 0.05em;
                                color: #3d4444;
                                height: 30px;
                                margin-bottom: 6px;
                                padding: 5px;
                                width: 96%;
                                margin: 14px 12px 0;
                            }
                            .gme-kpi-body {
                                font-family: $base-font-family;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 12px;
                                line-height: 21px;
                                letter-spacing: 0.05em;
                                color: #3d4444;
                                height: 100px;
                                margin-bottom: 2px;
                                width: 96%;
                                margin: 12px;
                            }
                        }
                    }
                    .sp-bottom-content {
                        display: none;
                        position: absolute;
                        // right: 0;
                        // right: -3%;
                        // bottom: -79%;
                        // left: 0;
                        bottom: 3%;
                        .gme-save-btn {
                            width: 150px;
                            height: 40px;
                            background: #98a9a8;
                            border-radius: 5px;
                            cursor: pointer;
                            p {
                                font-family: $base-font-family;
                                font-weight: normal;
                                font-size: 14px;
                                line-height: 170%;
                                text-align: center;
                                letter-spacing: 0.04em;
                                color: #fff;
                                padding-top: 8px;
                            }
                        }
                    }
                }
                #gme-bottom-content {
                    position: absolute;
                    // right: 0;
                    // right: 33%;
                    // bottom: -79%;
                    // bottom: -116%;
                    // left: 0;
                    bottom: 3%;
                    .gme-save-btn {
                        width: 150px;
                        height: 40px;
                        background: #98a9a8;
                        border-radius: 5px;
                        cursor: pointer;
                        p {
                            font-family: $base-font-family;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 170%;
                            text-align: center;
                            letter-spacing: 0.04em;
                            color: #fff;
                            padding-top: 8px;
                        }
                    }
                }
            }
        }
    }
}

.gme-inner-content-after {
    left: 6% !important;
    width: 94% !important;
    transition: .6s;
}

@media screen and (max-width: 1380px) {
    #gme-inner-content {
        .right-content {
            .inner-wrap {
                #gme-inner-wrap {
                    #m-kgi-wrap {
                        .time-period-wrap {
                            #daterange-wrap {
                                #gm-range {
                                    width: 84%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1250px) {
    #gme-inner-content {
        left: 27%;
        width: 73%;
        .right-content {
            .inner-wrap {
                #gme-inner-wrap {
                    #m-kgi-wrap {
                        .time-period-wrap {
                            #daterange-wrap {
                                #gm-range {
                                    width: 80%;
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 980px) {
    #gme-inner-content {
        .right-content {
            .inner-wrap {
                #gme-inner-wrap {
                    #m-kgi-wrap {
                        .time-period-wrap {
                            #daterange-wrap {
                                img {
                                    display: none;
                                }
                                #gm-range {
                                    width: 89%;
                                    font-size: 10px;
                                    display: block;
                                    margin: 0 auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 780px) {
    #gme-inner-content {
        left: 34%;
        width: 66%;
    }
}

@media screen and (max-width: 700px) {
    .gme-inner-content-after {
        left: 0% !important;
        width: 100% !important;
        transition: .6s;
    }
}

@media screen and (max-width: 580px) {
    #gme-inner-content {
        .right-content {
            .inner-wrap {
                padding-bottom: 22%;
                #gme-inner-wrap {
                    display: block;
                    background: transparent;
                    box-shadow: none;
                    border-radius: none;
                    padding-bottom: 0;
                    #m-kgi-wrap {
                        width: 74%;
                        margin: 0 auto;
                        margin-bottom: 8%;
                        background: #fff;
                        box-shadow: 0px 0px 14px rgba(166, 182, 182, 0.3);
                        border-radius: 5px;
                        padding-bottom: 24%;
                        position: relative;
                        .time-period-wrap {
                            #daterange-wrap {
                                img {
                                    display: inline-block;
                                }
                                #gm-range {
                                    display: inline-block;
                                    width: 83%;
                                    font-size: 10px;
                                }
                            }
                        }
                        .sp-bottom-content {
                            display: block;
                            position: absolute;
                            // right: 0;
                            // right: -3%;
                            // bottom: -79%;
                            // left: 0;
                            right: 0;
                            bottom: 3%;
                            left: 0;
                            .gme-save-btn {
                                width: 150px;
                                height: 40px;
                                background: #98a9a8;
                                border-radius: 5px;
                                cursor: pointer;
                                margin: 0 auto;
                                p {
                                    font-family: $base-font-family;
                                    font-weight: normal;
                                    font-size: 14px;
                                    line-height: 170%;
                                    text-align: center;
                                    letter-spacing: 0.04em;
                                    color: #fff;
                                    padding-top: 8px;
                                }
                            }
                        }
                    }
                    #m-ksf-wrap {
                        width: 74%;
                        margin: 0 auto;
                        margin-bottom: 8%;
                        background: #fff;
                        box-shadow: 0px 0px 14px rgba(166, 182, 182, 0.3);
                        border-radius: 5px;
                        padding-bottom: 24%;
                        position: relative;
                        .under-top-content {
                            .ksf-inner-wrap {
                                .gme-ksf-title {
                                    margin: 0 18px 10px 6px;
                                }
                                .gme-ksf-body {
                                    margin: 0 18px 0 6px;
                                }
                            }
                        }
                        .sp-bottom-content {
                            display: block;
                            position: absolute;
                            // right: 0;
                            // right: -3%;
                            // bottom: -79%;
                            // left: 0;
                            right: 0;
                            bottom: 3%;
                            left: 0;
                            .gme-save-btn {
                                width: 150px;
                                height: 40px;
                                background: #98a9a8;
                                border-radius: 5px;
                                cursor: pointer;
                                margin: 0 auto;
                                p {
                                    font-family: $base-font-family;
                                    font-weight: normal;
                                    font-size: 14px;
                                    line-height: 170%;
                                    text-align: center;
                                    letter-spacing: 0.04em;
                                    color: #fff;
                                    padding-top: 8px;
                                }
                            }
                        }
                    }
                    #m-kpi-wrap {
                        width: 74%;
                        margin: 0 auto;
                        margin-bottom: 8%;
                        background: #fff;
                        box-shadow: 0px 0px 14px rgba(166, 182, 182, 0.3);
                        border-radius: 5px;
                        padding-bottom: 24%;
                        position: relative;
                        .under-top-content {
                            .kpi-inner-wrap {
                                .gme-kpi-title {
                                    margin: 14px 18px 10px 6px;
                                }
                                .gme-kpi-body {
                                    margin: 0 18px 8px 6px;
                                }
                            }
                        }
                        .sp-bottom-content {
                            display: block;
                            position: absolute;
                            // right: 0;
                            // right: -3%;
                            // bottom: -79%;
                            // left: 0;
                            right: 0;
                            bottom: 3%;
                            left: 0;
                            .gme-save-btn {
                                width: 150px;
                                height: 40px;
                                background: #98a9a8;
                                border-radius: 5px;
                                cursor: pointer;
                                margin: 0 auto;
                                p {
                                    font-family: $base-font-family;
                                    font-weight: normal;
                                    font-size: 14px;
                                    line-height: 170%;
                                    text-align: center;
                                    letter-spacing: 0.04em;
                                    color: #fff;
                                    padding-top: 8px;
                                }
                            }
                        }
                    }
                    #gme-bottom-content {
                        display: none;
                    }
                }
            }
        }
    }
}

