#left-menu {
    width: 17%;
	height: 100%;
	background: $primary-black;
	z-index: 5;
	transition: .8s;
	overflow-y: scroll;
    .top {
		height: 6%;
		position: relative;
		z-index: 99999;
		.img-wrap {
			position: absolute;
			top: 10px;
			left: 18px;
			#left-menu-logo {
				width: 36px;
				height: 30px;
			}
		}
		#toggle-menu {
			width: 28px;
			position: absolute;
			top: 15px;
			right: 18px;
			-webkit-user-select: none;
			user-select: none;
			cursor: pointer;
			span {
				display: block;
				width: 100%;
				height: 1px;
				background: #9ea5a5;
				margin-bottom: 6px;
				border-radius: 3px;
			}
		}
	}
	.top:after {
		content: "";
		position: absolute;
		bottom: -15px;
		left: 24px;
		margin: 0 auto;
		width: 83%;
		border-bottom: 1px solid $primary-grey;
	}
	#profile {
		text-align: center;
		padding-top: 29%;
		.img-wrap {
			#profile-img {
				width: 100px;
				height: 100px;
				cursor: pointer
			}
		}
		.text-box {
			.p-text-large {
				color: #fff;
				font-size: $base-font-size;
			}
			.p-text-small {
				color: #fff;
				font-size: $small-font-size;
			}
		}
	}
	#left-menu-item {
		margin-top: 20%;
		.item-wrap {
			cursor: pointer;
			position: relative;
			.img-wrap {
				position: absolute;
				left: 24%;
			}
			p {
				margin-left: 39%;
				margin-bottom: 10%;
				font-family: $base-font-family;
				font-style: normal;
				font-weight: 300;
				font-size: 18px;
				line-height: 27px;
				/* identical to box height */
				letter-spacing: 0.03em;
				color: #9EA5A5;
			}
			// .down-arrow {
			// 	position: absolute;
			// 	top: 36%;
			// 	right: 10%;
			// }
			#b4-arrow::after {
				content: url(../img/angle-down.png);
				margin-left: 8px;
			}
			.current {
				color: #7ad2cc;
			}
			p:hover {
				color: #7ad2cc;
			}
			.progress-after {
				margin-bottom: 0 !important;
			}
		}
		#pull-down {
			display: none;
			a {
				text-decoration: none;
				p {
					font-family: $base-font-family;
					font-weight: normal;
					font-size: 14px;
					color: #9ea5a5;
					margin-left: 39%;
					opacity: 0;
					visibility: hidden;
					margin: 0;
					transition:
					line-height .3s ease-out,
					opacity     .1s linear,
					visibility  .1s linear;
					transition:
					margin-top     .6s ease-out,
					margin-bottom .6s ease-out;
				}
				p:hover {
					color: #7ad2cc;
				}
			}
		}
		.open {
			display: block !important;
			p {
				line-height: 20px !important;
				margin-top: 14px !important;
				margin-bottom: 14px !important;
				margin-left: 39% !important;
				opacity: 1 !important;
				visibility: visible !important;
				transition:
				line-height .6s ease-out,
				opacity     .1s linear .1s,
				visibility  .1s linear .1s !important;
				transition:
				margin-top     .6s ease-out,
				margin-bottom .6s ease-out;
			}
		}
	}
}

#left-menu-after {
	display: none;
	width: 6%;
	height: 100%;
	background: #fff;
	z-index: 5;
	transition: .8s;
	overflow-y: scroll;
	.top {
		height: 6%;
		position: relative;
		z-index: 99999;
		#toggle-menu-after {
			width: 28px;
			position: absolute;
			top: 32%;
			left: 32%;
			-webkit-user-select: none;
			user-select: none;
			cursor: pointer;
			span {
				display: block;
				width: 100%;
				height: 1px;
				background: #000;
				margin-bottom: 6px;
				border-radius: 3px;
			}
		}
	}
	.top:after {
		content: "";
		position: absolute;
		bottom: -15px;
		margin: 0 auto;
		width: 100%;
		border-bottom: 1px solid #ebeded;
	}
	#profile {
		text-align: center;
		padding-top: 53%;
		.img-wrap {
			#profile-img {
				width: 40px;
				height: 40px;
				cursor: pointer;
			}
		}
	}
	#left-menu-item {
		margin-top: 143px;
		.item-wrap {
			cursor: pointer;
			.img-wrap {
				text-align: center;
				margin-bottom: 37px;
				img {
					width: 29px;
				}
			}
		}
		// .current {

		// }
	}
}

// .animation-before {
// 	transform: translateX(-100%);
// 	transition-duration: 0.5s;
// }

// .animation-after {
// 	transform: translateX(0%);
// 	transition-duration: 0.5s;
// }

@media screen and (max-width: 1250px) {
	#left-menu {
		width: 27%;
		.left-menu-item {
			.item-wrap {
				// .down-arrow {
				// 	right: 26%;
				// }
			}
		}
	}
}

@media screen and (max-width: 780px) {
	#left-menu {
		width: 34%;
		.top:after {
			bottom: -18px
		}
		#left-menu-item {
			.item-wrap {
				p {
					font-size: $small-font-size;
				}
			}
		}
	}
	#left-menu-after {
		.top {
			#toggle-menu-after {
				top: 28%;
			}
		}
		.top:after {
			bottom: -18px;
		}
		#profile {
			padding-top: 112%;
		}
	}
}

@media screen and (max-width: 700px) {
	#left-menu {
		transition: .8s;
		width: 100%;
		overflow-y: scroll;
		.top {
			.img-wrap {
				top: 18px;
			}
			#toggle-menu {
				top: 20px;
			}
		}
		.top:after {
			bottom: -33px;
			left: 0;
			width: 100%;
		}
		#profile {
			padding-top: 17%;
			.img-wrap {
				#profile-img {
					width: 30%;
					height: 30%;
				}
			}
			.text-box {
				.p-text-large {
					font-size: 28px;
					margin-bottom: 10px;
				}
				.p-text-small {
					font-size: 18px;
				}
			}
		}
		#left-menu-item {
			.item-wrap {
				.img-wrap {
					top: -7px;
					img {
						width: 35px;
					}
				}
				p {
					font-size: 28px;
				}
			}
		}
	}
	#left-menu-after {
		.top {
			#toggle-menu-after {
				top: 45%;
				left: 49%;
			}
		}
		.top:after {
			display: none;
		}
		#profile {
			display: none;
		}
		#left-menu-item {
			display: none;
		}
	}
}

@media screen and (max-width: 450px) {
	#left-menu {
		transition: .8s;
		width: 100%;
		height: 100%;
		overflow-y: scroll;
		.top:after {
			bottom: -17px;
			left: 0;
			width: 100%;
		}
		#left-menu-item {
			margin-bottom: 26%;
		}
	}
	#left-menu-after {
		width: 15%;
		.top {
			#toggle-menu-after {
				top: 44%;
				left: 28%;
			}
		}
		.top:after {
			display: none;
		}
		#profile {
			display: none;
		}
		#left-menu-item {
			display: none;
		}
	}
}