#re-inner-content {
    position: absolute;
    top: 67px;
    left: 17%;
    width: 83%;
    height: 100%;
    background: #fff;
    transition: .6s;
    .top-nav-border-wrap {
        width: 100%;
        .top-nav-border {
            box-shadow: 0px 3px 7px rgba(166, 182, 182, 0.2);
            height: 2px;
        }
    }
    .center-content {
        display: inline-block;
        width: 74%;
        height: 95%;
        overflow-y: scroll;
        background: #e5e5e5;
        .top-text-box {
            p {
                font-family: $base-font-family;
                font-weight: 300;
                font-size: 24px;
                line-height: 35px;
                letter-spacing: 0.03em;
                color: #3d4444;
                margin-left: 3%;
            }
        }
        .inner-wrap {
            .report-edit-wrap {
                width: 89%;
                height: 81%;
                background: #fff;
                box-shadow: 0px 0px 14px rgba(166, 182, 182, 0.3);
                border-radius: 10px;
                transition: .6s;
                margin: 0 auto 3%;
                .top-dates-wrap {
                    padding-top: 3%;
                    padding-left: 3%;
                    .dates {
                        display: inline-block;
                        .dates-num {
                            font-family: $base-font-family;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 21px;
                            letter-spacing: 0.05em;
                            color: #3d4444;
                            margin: 0;
                            margin-right: 10px;
                        }
                    }
                    .time {
                        display: inline-block;
                        .time-num {
                            font-family: $base-font-family;
                            font-size: 14px;
                            line-height: 21px;
                            letter-spacing: 0.05em;
                            color: #949898;
                            margin: 0;
                        }
                    }
                }
                .report-subject {
                    padding: 2px 0 22px 3%;
                    .report-subject-text {
                        font-family: $base-font-family;
                        font-weight: 500;
                        font-size: 22px;
                        line-height: 32px;
                        letter-spacing: 0.05em;
                        color: #3d4444;
                        margin: 0;
                    }
                }
                form {
                    textarea {
                        width: 94%;
                        // height: 64.4%;
                        height: 521px;
                        background: #fcfcfc;
                        border: 1px solid #eee;
                        box-sizing: border-box;
                        border-radius: 5px;
                        margin: 0 3%;
                        padding: 10px;
                        font-family: $base-font-family;
                        font-size: 16px;
                        color: #3d4444;
                    }
                    .add-tags-wrap {
                        margin-left: 3%;
                        padding-top: 24px;
                        position: relative;
                        p {
                            font-family: $base-font-family;
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 17px;
                            letter-spacing: 0.05em;
                            color: #3d4444;
                            margin: 0;
                            margin-bottom: 13px;
                        }
                       #add-tags {
                            border: none;
                            border-bottom: 1px solid #eee;
                            &:placeholder {
                                font-family: $base-font-family;
                                font-weight: 500;
                                font-size: 12px;
                                line-height: 17px;
                                letter-spacing: 0.05em;
                                color: #949898;
                                padding-bottom: 6px;
                            }
                       }
                       #add-btn {
                           width: 60px;
                           height: 30px;
                           border: 1px solid #949898;
                           box-sizing: border-box;
                           border-radius: 3px;
                           font-family: $base-font-family;
                           font-size: 14px;
                           line-height: 21px;
                           letter-spacing: 0.05em;
                           color: #949898;
                           position: absolute;
                           top: 60%;
                           left: 45%;
                           text-align: center;
                           padding-top: 3px;
                           cursor: pointer;
                       }
                       #save-btn {
                           width: 88px;
                           height: 40px;
                           background: #7ad2cc;
                           border-radius: 3px;
                           font-family: $base-font-family;
                           font-size: 14px;
                           line-height: 39px;
                           letter-spacing: 0.05em;
                           color: #fff;
                           position: absolute;
                           top: 24px;
                           right: 3%;
                           text-align: center;
                           cursor: pointer;
                       }
                    }
                }
                .tags-wrap {
                    margin: 2.6% 3% 7.7%;
                    padding-bottom: 3%;
                    border-bottom: 1px solid #eee;
                    .tag-item {
                        display: inline-block;
                        background: #cedada;
                        border-radius: 3px;
                        width: 60px;
                        height: 24px;
                        position: relative;
                        margin-right: 6px;
                        a {
                            p {
                                font-family: $base-font-family;
                                font-weight: 500;
                                font-size: 12px;
                                line-height: 17px;
                                letter-spacing: 0.05em;
                                color: #fff;
                                position: absolute;
                                top: -7px;
                                left: 9px;
                            }
                        }
                    }
                }
            }
        }
    }
    .right-content {
        display: inline-block;
        // width: 25.7%;
        width: 26%;
        height: 100%;
        position: absolute;
        top: 2px;
        right: 0px;
        border-left: 1px solid #eef1f1;
        overflow: hidden;
        background: #f6f6f9;

        // fullcalendar's style
        #calendar {
            padding: 35px 12.3%;
            font-family: $base-font-family;
            .fc-button-primary {
                background-color: #f6f9f9;
                border: none;
                color: #939898;
            }
            .fc-toolbar {
                h2 {
                    font-family: $base-font-family;
                    color: #3d4444;
                    font-weight: 500;
                }
            }
            // .fc-scroller {
            //     overflow: visible !important;
            //     height: 385px !important;
            // }
            td.fc-today {
                background: #7ad2cc;
            }
        }
    }
}
.re-inner-content-after {
    left: 6% !important;
    width: 94% !important;
    transition: .6s;
}

@media screen and (max-width: 1500px) {
    #rl-inner-content {
        .center-content {
            width: 100%;
        }
        .right-content {
            display: none;
        }
    }
}

@media screen and (max-width: 1250px) {
    #re-inner-content {
        left: 27%;
        width: 73%;
    }
}

@media screen and (max-width: 1000px) {
    #re-inner-content {
        .center-content {
            width: 100%;
        }
        .right-content {
            display: none;
        }
    }
}

@media screen and (max-width: 780px) {
    #re-inner-content {
        left: 34%;
        width: 66%;
        top: 67px;
    }
}

@media screen and (max-width: 700px) {
    #re-inner-content {
        .center-content {
            .top-text-box {
                p {
                    text-align: center;
                }
            }
        }
    }
    .re-inner-content-after {
        left: 0% !important;
        width: 100% !important;
        transition: .6s;
    }
}

@media screen and (max-width: 600px) {
    #re-inner-content {
        .center-content {
            .inner-wrap {
                .report-edit-wrap {
                    form {
                        textarea {
                            height: 386px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 420px) {
    #re-inner-content {
        .center-content {
            .inner-wrap {
                padding-bottom: 17%;
                .report-edit-wrap {
                    form {
                        textarea {
                            height: 317px;
                        }
                        .add-tags-wrap {
                            #add-tags {
                                width: 184px;
                            }
                            #save-btn {
                                width: 76px;
                                height: 35px;
                                line-height: 35px;
                            }
                        }
                    }
                }
            }
        }
    }
}