#tl-inner-content {
    overflow-y: scroll;
    position: absolute;
    // top: 67px;
    top: 52px;
    left: 17%;
    width: 83%;
    height: 100%;
    background: #e5e5e5;
    transition: .6s;
    .top-nav-border-wrap {
        width: 100%;
        .top-nav-border {
            box-shadow: 0px 3px 7px rgba(166, 182, 182, 0.2);
            height: 2px;
        }
    }
    .right-content {
        .business-unit-mark {
            .red {
                @include unitColor(#ff2222);
                .red-inner {
                    @include unitColorInner(#ff2222);
                }
            }
            .green {
                @include unitColor(#75d979);
                .green-inner {
                    @include unitColorInner(#75d979);
                }
            }
            .skyblue {
                @include unitColor(#65c8ff);
                .skyblue-inner {
                    @include unitColorInner(#65c8ff);
                }
            }
        }
        .top-text-box {
            position: relative;
            p {
                font-family: $base-font-family;
                font-weight: 300;
                font-size: 24px;
                line-height: 35px;
                letter-spacing: 0.03em;
                color: #3d4444;
                margin-left: 3%;
            }
            .business-unit-topics {
                display: flex;
                position: absolute;
                top: 1%;
                right: 3%;
                width: 320px;
                .topic-wrap {
                    display: flex;
                    .business-unit-mark {
                        margin-top: 2px;
                        margin-right: 10px;
                        .red {
                            
                        }
                        .green {
                            
                        }
                        .skyblue {
                            
                        }
                    }
                    .business-unit-name {
                        margin-right: 10px;
                        p {
                            margin: 0;
                            font-family: $base-font-family;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 12px;
                            line-height: 26px;
                            letter-spacing: 0.05em;
                            color: #3d4444;
                        }
                    }
                }
            }
        }
        .inner-wrap {
            padding-bottom: 9%;
            #tl-inner-wrap {
                position: relative;
                // height: 240px;
                // width: 93%;
                width: 97.4%;
                margin: 0 auto;
                .task-wrap {
                    background: #fff;
                    border: 1px solid #eee;
                    box-sizing: border-box;
                    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
                    border-radius: 5px;
                    display: inline-block;
                    width: 28.3%; 
                    width: -webkit-calc(-webkit-calc(100% / 3) - 5%) ;
                    width: calc(calc(100% / 3) - 5%) ;
                    margin: 0 2.3% 2.3%;
                    padding-bottom: 10px;
                    cursor: pointer;
                    position: relative;
                    &:hover {
                        opacity: 0.6;
                    }
                    .top-content {
                        display: flex;
                        width: 94%;
                        margin: 0 auto;
                        border-bottom: 1px solid #eee;
                        padding-top: 9px;
                        position: relative;
                        .img-wrap {
                            img {
                                width: 40px;
                            }
                        }
                        .tl-task-name {
                            margin-top: 8px;
                            margin-left: 10px;
                            font-family: $base-font-family;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 26px;
                            letter-spacing: 0.05em;
                            color: #3d4444;
                        }
                        .business-unit-mark {
                            position: absolute;
                            top: 9%;
                            right: 2%;
                            .red {
                                margin-top: 12px;
                                @include unitColor(#ff2222);
                                .red-inner {
                                    @include unitColorInner(#ff2222);
                                }
                            }
                            .green {
                                margin-top: 12px;
                                @include unitColor(#75d979);
                                .green-inner {
                                    @include unitColorInner(#75d979);
                                }
                            }
                            .skyblue {
                                margin-top: 12px;
                                @include unitColor(#65c8ff);
                                .skyblue-inner {
                                    @include unitColorInner(#65c8ff);
                                }
                            }
                        }
                    }
                    .task-detail-wrap {
                        margin: 0 6px 0 16px;
                        .detail-text {
                            font-family: $base-font-family;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 21px;
                            letter-spacing: 0.01em;
                            color: #3d4444;
                        }
                    }
                    .task-hover-wrap {
                        display: none;
                        border: 1px solid #e4e7e7;
                        box-sizing: border-box;
                        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
                        border-radius: 3px;
                        position: absolute;
                        top: 78px;
                        right: 25px;
                        .tl-edit-btn {
                            font-family: $base-font-family;
                            font-style: normal;
                            font-weight: 400;
                            // font-size: ;
                            color: #b1bbbb;
                            color: rgba(0, 0, 0, 0.7);
                            border-color: rgba(0, 0, 0, 0.7);
                            margin: 5px;
                            font-size: 15px;
                        }
                        .tl-delete-btn {
                            font-family: $base-font-family;
                            font-style: normal;
                            font-weight: 400;
                            // font-size: ;
                            color: #b1bbbb;
                            color: rgba(0, 0, 0, 0.7);
                            border-color: rgba(0, 0, 0, 0.7);
                            margin: 5px;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}

.tl-inner-content-after {
    left: 6% !important;
    width: 94% !important;
    transition: .6s;
}

@media screen and (max-width: 1250px) {
    #tl-inner-content {
        left: 27%;
        width: 73%;
        .right-content {
            .inner-wrap {
                
            }
        }
    }
}

@media screen and (max-width: 1050px) {
    #tl-inner-content {
        .right-content {
            .inner-wrap {
                #tl-inner-wrap {
                    width: 100%;
                    .task-wrap {
                        margin: 0 1% 2.3% 3%;
                        .top-content {
                            .img-wrap {
                                img {
                                    width: 34px;
                                    margin-top: 3px;
                                    margin-left: 3px;
                                }
                            }
                            .tl-task-name {
                                margin-left: 6px;
                                font-size: 12px;
                            }
                            .role {
                                top: 14%;
                                .role-text {
                                    font-size: 12px;
                                }
                            }
                        }
                        .task-detail-wrap {
                            .detail-text {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    #tl-inner-content {
        .right-content {
            .inner-wrap {
                #tl-inner-wrap {
                    .task-wrap {
                        .top-content {
                            .tl-task-name {
                                margin-left: 4px;
                                font-size: 11px;
                            }
                            .role {
                                top: 15%;
                                .role-text {
                                    font-size: 10px;
                                }
                            }
                        }
                        .task-detail-wrap {
                            margin: 0 6px 0 11px;
                            .detail-text {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 780px) {
    #tl-inner-content {
        left: 34%;
        width: 66%;
        .right-content {
            .inner-wrap {
                #tl-inner-wrap {
                    .task-wrap {
                        .top-content {
                            .tl-task-name {
                                margin-left: 6px;
                                font-size: 12px;
                            }
                            .role {
                                top: 14%;
                                .role-text {
                                    font-size: 12px;
                                }
                            }
                        }
                        .task-detail-wrap {
                            .detail-text {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .tl-inner-content-after {
        left: 0% !important;
        width: 100% !important;
        transition: .6s;
    }
}

@media screen and (max-width: 650px) {
    #tl-inner-content {
        .right-content {
            .inner-wrap {
                #tl-inner-wrap {
                    .task-wrap {
                        .top-content {
                            .tl-task-name {
                                margin-left: 4px;
                                font-size: 11px;
                            }
                            .role {
                                top: 15%;
                                .role-text {
                                    font-size: 10px;
                                }
                            }
                        }
                        .task-detail-wrap {
                            margin: 0 6px 0 11px;
                            .detail-text {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 580px) {
    #tl-inner-content {
        .right-content {
            .top-text-box {
                .business-unit-topics {
                    display: none;
                }
            }
            .inner-wrap {
                padding-bottom: 22%;
                #tl-inner-wrap {
                    .task-wrap {
                        width: 40%;
                        width: -webkit-calc(-webkit-calc(100% / 2) - 10%);
                        width: calc(calc(100% / 2) - 10%);
                        margin: 0 0 6% 6%;
                        .top-content {
                            .tl-task-name {
                                margin-left: 4px;
                                font-size: 10px;
                                position: absolute;
                                top: 0;
                                right: 25%;
                            }
                            .role {
                                top: 37%;
                                right: 21%;
                                .role-text {
                                    font-size: 10px;
                                }
                            }
                        }
                        .task-detail-wrap {
                            margin: 0 6px 0 11px;
                            .detail-text {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}