#top-nav {
	position: fixed;
	top: 0;
	margin-left: 17%;
	width: 83%;
	transition: .6s;
	z-index: 10000;
	#nav-wrap {
		position: relative;
		// #search-wrap {
		// 	position: absolute;
		// 	top: 20px;
		// 	left: 24px;
		// 	display: flex;
		// 	#search-btn {
		// 		.img-wrap {
		// 			#search-img {
		// 				position: static;
		// 			}
		// 		}
		// 	}
		// 	#search-input {
		// 		border: none;
		// 		position: absolute;
		// 		top: -2px;
		// 		left: 20px;
		// 	}
			
		// 	#search-input::placeholder {
		// 		font-family: $base-font-family;
		// 		font-weight: 300;
		// 		font-style: normal;
		// 		font-size: $small-font-size;
		// 		line-height: 18px;
		// 		color: #ccc;
		// 	}
		// }
		#top-slider {
			position: absolute;
			top: 20px;
			left: 24px;
			// a {
			.slider-inner-wrap {
				display: flex;
				.img-wrap {
					#top-link-img {
						position: static;
						width: 20px;
					}
				}
				.title {
					font-family: $base-font-family;
					font-weight: normal;
					font-size: 12px;
					line-height: 18px;
					color: #3d4444;
					vertical-align: middle;
					margin-top: 1px;
					margin-bottom: 0;
					margin-left: 5px;
				}
				.title-name {
					font-family: $base-font-family;
					font-weight: normal;
					font-size: 12px;
					line-height: 18px;
					color: #9ea5a5;
					vertical-align: middle;
					margin-top: 1px;
					margin-bottom: 0;
					margin-left: 5px;
				}
			}
			// }
		}

		#select-btn {
			position: absolute;
			top: 10px;
			right: 134px;
			display: flex;
			cursor: pointer;
			.img-wrap {
				margin-right: 6px;
			}
			#projects {
				background: rgba(0, 0, 0, 0);
				border: none;
				color: #a5aaaa;
				margin-bottom: 5px;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				cursor: pointer;
			}
			.img-wrap-bottom {
				margin-top: 9px;
				margin-left: 10px;
			}
		}
		#top-nav-right {
			// border-left: 1px solid #ebeded;
			position: absolute;
			top: 14px;
			right: 25px;
			display: flex;
			#people {
				margin-left: 15px;
				cursor: pointer;
			}
			#setting {
				margin-right: 15px;
				margin-left: 15px;
				cursor: pointer;
			}
			#notice {
				cursor: pointer;
			}
		}
	}
}

.top-nav-after {
	margin-left: 6% !important;
	width: 94% !important;
}

@media screen and (max-width: 1250px) {
	#top-nav {
		#nav-wrap {
			// #search-wrap {
			// 	left: 145px;
			// }
			#top-slider {
				left: 155px;
			}
		}
	}
	.top-nav-after {
		margin-left: -6% !important;
		width: 107% !important;
	}
}

@media screen and (max-width: 1000px) {
	#top-nav {
		#nav-wrap {
			// #search-wrap {
			// 	left: 110px;
			// }
			#top-slider {
				left: 128px;
			}
		}
	}
}

@media screen and (max-width: 780px) {
	#top-nav {
		#nav-wrap {
			// #search-wrap {
			// 	left: 145px;
			// 	#search-input {
			// 		width: 110px;
			// 	}
			// }
			#top-slider {
				left: 112px;

			}
		}
	}
}

@media screen and (max-width: 700px) {
	#top-nav {
		#nav-wrap {
			// #search-wrap {
			// 	top: 26px;
			// 	left: 130px;
			// }
			#top-slider {
				top: 19px;
				left: 100px;
			}
		}
	}
}

@media screen and (max-width: 580px) {
	#top-nav {
		#nav-wrap {
			// #search-wrap {
			// 	top: 27px;
			// 	left: 97px;
			// 	width: 103px;
			// }
			#top-slider {
				display: none;
				// top: 18px;
				// left: 97px;
				// width: 223px;
				// a {
				// 	.title {
				// 		font-size: 10px;
				// 	}
				// 	.title-name {
				// 		font-size: 10px;
				// 	}
				// }
			}

			#select-btn {
				right: 101px;
				display: none;
			}
			#top-nav-right {
				right: 17px;
				border-left: none;
				#setting {
					margin-right: 15px;
					margin-left: 15px;
				}
			}
		}
	}
}

// @media screen and (max-width: 440px) {
// 	#top-nav {
// 		#nav-wrap {
// 			#top-link {
// 				display: none;
// 			}
// 		}
// 	}
// }
