#ue-inner-content {
    overflow-y: scroll;
    // overflow-y: hidden;
    position: absolute;
    top: 67px;
    // top: 52px;
    left: 17%;
    width: 83%;
    height: 100%;
    background: #e5e5e5;
    transition: .6s;
    .top-nav-border-wrap {
        width: 100%;
        .top-nav-border {
            box-shadow: 0px 3px 7px rgba(166, 182, 182, 0.2);
            height: 2px;
        }
    }
    .right-content {
        .top-text-box {
            p {
                font-family: $base-font-family;
                font-weight: 300;
                font-size: 24px;
                line-height: 35px;
                letter-spacing: 0.03em;
                color: #3d4444;
                margin-left: 3%;
            }
        }
        .inner-wrap {
            padding-bottom: 9%;
            #user-edit-wrap {
                width: 51.7%;
                // height: 620px;
                height: 726px;
                background: #fff;
                box-shadow: 0px 0px 14px rgba(166, 182, 182, 0.3);
                border-radius: 5px;
                padding: 0 25px;
                margin: 0 auto;
                .image-wrap {
                    text-align: center;
                    padding: 40px;
                    border-bottom: 1px solid #ebeded;
                    position: relative;
                    #user-image {
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        background: #212323;
                        cursor: pointer
                    }
                    #user-image::-webkit-file-upload-button {
                        visibility: hidden;
                    }
                    img {
                        position: absolute;
                        top: 42%;
                        right: 48.4%;
                        cursor: pointer;
                    }
                }
                .user-name-wrap {
                    padding: 20px 25px;
                    border-bottom: 1px solid #ebeded;
                    .left-text {
                        font-family: $base-font-family;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 170%;
                        color: #9ea5a5;
                        display: inline-block;
                        vertical-align: middle;
                        cursor: pointer;
                    }
                    #user-name-input {
                        font-family: $base-font-family;
                        font-style: normal;
                        font-weight: 300;
                        font-size: 12px;
                        line-height: 170%;
                        letter-spacing: 0.04em;
                        color: #9ea5a5;
                        display: inline-block;
                        vertical-align: middle;
                        margin-left: 90px;
                        background: #fcfcfc;
                        border: 1px solid #eee;
                        border-radius: 5px;
                        width: 64.5%;
                        height: 40px;
                        padding: 3px 20px;
                    }
                }
                .user-role-wrap {
                    padding: 20px 25px;
                    border-bottom: 1px solid #ebeded;
                    .left-text {
                        font-family: $base-font-family;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 170%;
                        color: #9ea5a5;
                        display: inline-block;
                        vertical-align: middle;
                        cursor: pointer;
                    }
                    #user-role-input {
                        font-family: $base-font-family;
                        font-style: normal;
                        font-weight: 300;
                        font-size: 12px;
                        line-height: 170%;
                        letter-spacing: 0.04em;
                        color: #9ea5a5;
                        display: inline-block;
                        vertical-align: middle;
                        margin-left: 132px;
                        background: #fcfcfc;
                        border: 1px solid #eee;
                        border-radius: 5px;
                        width: 64.5%;
                        height: 40px;
                        padding: 3px 20px;
                    }
                }
                .user-intro-wrap {
                    padding: 20px 25px;
                    border-bottom: 1px solid #ebeded;
                    .left-text {
                        font-family: $base-font-family;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 170%;
                        color: #9ea5a5;
                        display: inline-block;
                        vertical-align: middle;
                        cursor: pointer;
                    }
                    #user-intro-input {
                        font-family: $base-font-family;
                        font-style: normal;
                        font-weight: 300;
                        font-size: 12px;
                        line-height: 170%;
                        letter-spacing: 0.04em;
                        color: #9ea5a5;
                        // width: 405px;
                        // width: 468px;
                        // width: 57%;
                        height: 144px;
                        display: inline-block;
                        vertical-align: middle;
                        margin-left: 105px;
                        background: #fcfcfc;
                        border: 1px solid #eee;
                        box-sizing: border-box;
                        border-radius: 5px;
                        // width: 64.5%;
                        width: 69.5%;
                        padding: 13px 20px;
                    }
                }
                #ue-btn-wrap {
                    display: flex;
                    justify-content: center;
                    padding-top: 32px;
                    #cancel-btn {
                        padding: 10px 15px;
                        background: #fff;
                        border: 1px solid #eee;
                        box-sizing: border-box;
                        border-radius: 5px;
                        width: 105px;
                        height: 40px;
                        margin-right: 2%;
                        cursor: pointer;
                        p {
                            font-family: $base-font-family;
                            font-style: normal;
                            font-weight: 300;
                            font-size: 14px;
                            line-height: 170%;
                            letter-spacing: 0.04em;
                            color: #000;
                            margin: 0;
                            margin-top: -3px;
                        }
                    }
                    button {
                        background: #7ad2cc;
                        border-radius: 5px;
                        font-family: $base-font-family;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 170%;
                        text-align: center;
                        letter-spacing: 0.04em;
                        color: #fff;
                        width: 150px;
                        height: 40px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.ue-inner-content-after {
    left: 6% !important;
    width: 94% !important;
    transition: .6s;
}

@media screen and (max-width: 1480px) {
    #ue-inner-content {
        .right-content {
            .inner-wrap {
                #user-edit-wrap {
                    height: 761px;
                    .image-wrap {
                        img {
                            right: 47.7%;
                        }
                    }
                    .user-name-wrap {
                        #user-name-input {
                            margin-left: 69px;
                        }
                    }
                    .user-role-wrap {
                        #user-role-input {
                            margin-left: 111px;
                        }
                    }
                    .user-intro-wrap {
                        // padding: 20px 25px 55px;
                        #user-intro-input {
                            margin-left: 83px;
                            width: 72%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1350px) {
    #ue-inner-content {
        .right-content {
            .inner-wrap {
                #user-edit-wrap {
                    .user-name-wrap {
                        .left-text {
                            margin: 0;
                            display: block;
                        }
                        #user-name-input {
                            margin-top: 15px;
                            margin-left: 25px;
                        }
                    }
                    .user-role-wrap {
                        .left-text {
                            margin: 0;
                            display: block;
                        }
                        #user-role-input {
                            margin-top: 15px;
                            margin-left: 25px;
                        }
                    }
                    .user-intro-wrap {
                        .left-text {
                            margin: 0;
                            display: block;
                        }
                        #user-intro-input {
                            margin-top: 15px;
                            margin-left: 25px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1250px) {
    #ue-inner-content {
        left: 27%;
        width: 73%;
        .right-content {
            .inner-wrap {
                padding-bottom: 16%;
                #user-edit-wrap {
                    height: 793px;
                    .user-name-wrap {
                        #user-name-input {
                            width: 80.5%;
                        }
                    }
                    .user-role-wrap {
                        #user-role-input {
                            width: 80.5%;
                        }
                    }
                    .user-intro-wrap {
                        .left-text {
                            display: block;
                        }
                        #user-intro-input {
                            margin-left: 25px;
                            width: 91%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1180px) {
    #ue-inner-content {
        .right-content {
            .inner-wrap {
                #user-edit-wrap {
                    .image-wrap {
                        img {
                            right: 46.7%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1050px) {
    #ue-inner-content {
        .right-content {
            .inner-wrap {
                #user-edit-wrap {
                    // height: 818px;
                    .user-intro-wrap {
                        // padding: 20px 25px 75px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    #ue-inner-content {
        .right-content {
            .inner-wrap {
                #user-edit-wrap {
                    // height: 860px;
                    .user-intro-wrap {
                        // padding: 20px 25px 120px;
                        #user-intro-input {
                            width: 95%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 780px) {
    #ue-inner-content {
        left: 34%;
        width: 66%;
        .right-content {
            .inner-wrap {
                
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .ue-inner-content-after {
        left: 0% !important;
        width: 100% !important;
        transition: .6s;
    }
}

@media screen and (max-width: 580px) {
    #ue-inner-content {
        overflow-y: scroll;
        .right-content {
            .inner-wrap {
                padding-bottom: 22%;
                #user-edit-wrap {
                    width: 72%;
                    .image-wrap {
                        img {
                            right: 46%;
                        }
                    }
                    .user-name-wrap {
                        padding: 20px;
                        #user-name-input {
                            margin-left: 17px;
                        }
                    }
                    .user-role-wrap {
                        padding: 20px;
                        #user-role-input {
                            margin-left: 17px;
                        }
                    }
                    .user-intro-wrap {
                        // padding: 20px 18px 125px;
                        #user-intro-input {
                            width: 103%;
                            margin-left: 14px;
                        }
                    }
                    #ue-btn-wrap {
                        #cancel-btn {
                            padding: 10px;
                            p {
                                font-size: 12px;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}