<!DOCTYPE html>
<html lang="jp">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>GUILD | </title>
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
	<link rel="apple-touch-icon" sizes="180x180" href="" />
	<!-- ogp setting -->
	<title>ページのタイトル</title>
	<meta property="og:title" content="GUILD | " />
	<meta property="og:type" content="" />
	<meta property="og:url" content="" />
	<meta property="og:image" content="" />
	<meta property="og:site_name" content="GUILD | " />
	<meta property="og:description" content="" />
	<meta property="fb:app_id" content="" />    
	<meta name="twitter:card" content="" />
</head>
<body>
	<div class="contents">
		<%- include('./inc/left-menu.ejs') %>
	</div>
	<p>hello buddy</p>
</body>
</html>