<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>VOTING | GUILD</title>
	<!-- <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"> -->
	<!-- <link rel="apple-touch-icon" sizes="180x180" href="img/logo.png" /> -->
	<link rel="apple-touch-icon" sizes="57x57" href="img/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="img/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="img/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="img/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="img/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="img/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="img/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
	<link rel="manifest" href="img/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="img/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<link rel="stylesheet" href="css/main.css">
	<!-- <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css"> -->
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
	<!-- ogp setting -->
	<meta property="og:title" content="VOTING | GUILD" />
	<meta property="og:type" content="" />
	<meta property="og:url" content="" />
	<meta property="og:image" content="" />
	<meta property="og:site_name" content="VOTING | GUILD" />
	<meta property="og:description" content="" />
	<meta property="fb:app_id" content="" />    
	<meta name="twitter:card" content="" />

	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
</head>
<body>
	<div class="contents">
		<%- include('./inc/left-menu.ejs') %>
		<%- include('./inc/top-nav.ejs') %>
		<%- include('./inc/v-inner-content.ejs') %>
		<%- include('./inc/voting-modals.ejs') %>
	</div>
</body>
<script src="js/lib.min.js" async></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js" async></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js" async></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
$(function() {

	setTimeout(function() {
		$(".top-slider").slick({
			infinite: true,
			slideToShow: 1,
			slideToScroll: 1,
			accessibility: false,
			autoplay: true,
			autoplaySpeed: 4000,
			arrows: false,
			draggable: false,
			swipe: false,
		})
	}, 200);

	tooltipRange.options({
		selecter: "#min-voting-rate-01",
		tooltip: true,
		value: 43,
		min: 20,
		step: 1
	});

	tooltipRange.options({
		selecter: "#min-voting-rate-02",
		tooltip: true,
		value: 60,
		min: 20,
		max: 70,
		step: 1
	});
		
	$('#reportrange').daterangepicker({
		opens: 'left',
		endDate: moment().add(7, 'day'),
	}, function(start, end, label) {
		console.log("A new datae selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
	});

});
</script>
</html>